/* screen - design-guide */

.animate-enter1 {
  animation: animate-enter1-frames 0.60s ease-in-out 0.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-guide {
  background-color: var(--coconut);
  display: block;
  height: 5301px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.design-guide .accessibility-C61RwL {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1815px;
  white-space: nowrap;
  width: auto;
}
.design-guide .avoid-these-typo-errors-TQCOxc {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .bannerdesignguide-C61RwL {
  background-color: transparent;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
}
.design-guide .best-practice-tips-NzCmYq {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .breakpoints-for-fferent-devices-4ePuEV {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .buttons-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 219px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4716px;
  white-space: nowrap;
  width: auto;
}
.design-guide .color-deficiencies-D7eZ4t {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .color-psychology-P0EDAw {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .colors-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2395px;
  white-space: nowrap;
  width: auto;
}
.design-guide .contrast-checker-NUOs9q {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .contrast-checker-jLJAzz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .design-guide-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.design-guide .design-guide-GCEBCP {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(29.82% - 29px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 96px;
}
.design-guide .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(18.43% - 21px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 113px;
}
.design-guide .ebene-2-SZqgts {
  background-color: transparent;
  height: 24px;
  left: 25px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}
.design-guide .ellipse-273-6tzNvg {
  background-color: transparent;
  border-radius: 9.5px;
  height: 20px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}
.design-guide .font-size-and-scaling-xq7GOB {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .fonts-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 3555px;
  white-space: nowrap;
  width: auto;
}
.design-guide .gruppe-1038-juugUx {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.design-guide .gruppe-1085-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4895px;
  width: 221px;
}
.design-guide .gruppe-1086-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4852px;
  width: 141px;
}
.design-guide .gruppe-1087-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4809px;
  width: 141px;
}
.design-guide .gruppe-1088-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4400px;
  width: 225px;
}
.design-guide .gruppe-1089-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4357px;
  width: 125px;
}
.design-guide .gruppe-1090-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4314px;
  width: 96px;
}
.design-guide .gruppe-1091-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4271px;
  width: 142px;
}
.design-guide .gruppe-1092-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 4228px;
  width: 151px;
}
.design-guide .gruppe-1093-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3648px;
  width: 131px;
}
.design-guide .gruppe-1094-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3691px;
  width: 93px;
}
.design-guide .gruppe-1095-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3733px;
  width: 127px;
}
.design-guide .gruppe-1096-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3776px;
  width: 169px;
}
.design-guide .gruppe-1097-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3818px;
  width: 183px;
}
.design-guide .gruppe-1098-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3861px;
  width: 140px;
}
.design-guide .gruppe-1100-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3083px;
  width: 250px;
}
.design-guide .gruppe-1101-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 3126px;
  width: 241px;
}
.design-guide .gruppe-1102-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 2488px;
  width: 131px;
}
.design-guide .gruppe-1103-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 2531px;
  width: 141px;
}
.design-guide .gruppe-1104-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1908px;
  width: 146px;
}
.design-guide .gruppe-1105-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1951px;
  width: 232px;
}
.design-guide .gruppe-1106-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1994px;
  width: 207px;
}
.design-guide .gruppe-1107-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 2037px;
  width: 140px;
}
.design-guide .gruppe-1108-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1415px;
  width: 168px;
}
.design-guide .gruppe-1109-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1372px;
  width: 122px;
}
.design-guide .gruppe-1110-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 220px;
  position: absolute;
  top: 1329px;
  width: 250px;
}
.design-guide .gruppe-1125-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 1190px;
  width: 1600px;
}
.design-guide .gruppe-1126-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 1770px;
  width: 1600px;
}
.design-guide .gruppe-1127-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 2350px;
  width: 1600px;
}
.design-guide .gruppe-1128-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 2930px;
  width: 1600px;
}
.design-guide .gruppe-1129-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 3510px;
  width: 1600px;
}
.design-guide .gruppe-1130-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 431px;
  left: 160px;
  position: absolute;
  top: 4670px;
  width: 1600px;
}
.design-guide .gruppe-1131-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 4090px;
  width: 1600px;
}
.design-guide .gruppe-47-0xSpCQ {
  background-color: transparent;
  height: 31px;
  left: calc(49.35% - 12px);
  position: relative;
  top: calc(50.00% - 15px);
  width: 25px;
}
.design-guide .gruppe-496-GCEBCP {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: calc(37.96% - 215px);
  position: absolute;
  top: calc(50.00% - 24px);
  width: 566px;
}
.design-guide .gruppe-497-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.design-guide .gruppe-721-C61RwL {
  background-color: var(--white);
  border-radius: 50.5px;
  box-shadow: 0px 0px 15px #0000001a;
  cursor: pointer;
  height: 101px;
  left: 910px;
  position: absolute;
  top: 853px;
  width: 101px;
}
.design-guide .here-you-get-an-re-treated-here-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 536px;
  white-space: nowrap;
  width: auto;
}
.design-guide .how-to-build-icons-bksA6i {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .icons-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4135px;
  white-space: nowrap;
  width: auto;
}
.design-guide .inspiration-and-free-icon-sets-znKD29 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .layout-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1235px;
  white-space: nowrap;
  width: auto;
}
.design-guide .linie-399-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1296px;
  width: 44px;
}
.design-guide .linie-402-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 3616px;
  width: 44px;
}
.design-guide .linie-403-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 4196px;
  width: 44px;
}
.design-guide .linie-404-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1876px;
  width: 44px;
}
.design-guide .linie-405-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 2456px;
  width: 44px;
}
.design-guide .linie-406-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 4776px;
  width: 44px;
}
.design-guide .linie-408-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 3050px;
  width: 44px;
}
.design-guide .linie-53-dd6Tqo {
  background-color: transparent;
  height: calc(100.00% + 3px);
  object-fit: cover;
  position: absolute;
  right: calc(49.91% - 1px);
  top: -2px;
  width: 3px;
}
.design-guide .logo-GCEBCP {
  background-color: transparent;
  bottom: calc(50.00% - 13px);
  cursor: pointer;
  height: 25px;
  left: 160px;
  position: absolute;
  width: 151px;
}
.design-guide .make-your-designs-accessible-WVzxnx {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .navigation-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2990px;
  white-space: nowrap;
  width: auto;
}
.design-guide .navigation-elem-nts-for-desktop-CzVPfa {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .navigation-elements-for-mobile-nShJbz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .old-vs-new-xKXIHE {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 79px;
}
.design-guide .overviewaccessibility-fQ4YiQ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 1312px;
}
.design-guide .overviewbuttons-9UDOxM {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 1312px;
}
.design-guide .overviewcolors-4j9Fxa {
  background-color: transparent;
  height: 100%;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 288px);
}
.design-guide .overviewfonts-ZxJczG {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 1312px;
}
.design-guide .overviewicons-W8JIii {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 1312px;
}
.design-guide .overviewlayout-juugUx {
  background-color: transparent;
  height: 100%;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 288px);
}
.design-guide .overviewnavigation-Ww0XKU {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 1312px;
}
.design-guide .pfad-1-dd6Tqo {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  width: 17px;
}
.design-guide .pfad-1373-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(42.60% - 8px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 19px;
}
.design-guide .pfad-1374-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(39.84% - 7px);
  top: 1px;
  width: 18px;
}
.design-guide .pfad-1375-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(29.85% - 1px);
  top: 1px;
  width: 4px;
}
.design-guide .pfad-1376-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 20px;
  top: 1px;
  width: 18px;
}
.design-guide .pfad-1377-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 16px;
}
.design-guide .pfad-1378-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}
.design-guide .pfad-1379-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 4px;
}
.design-guide .pfad-1380-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: calc(19.24% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 21px;
}
.design-guide .pfad-1393-4ePuEV {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}
.design-guide .pfad-1394-MmVsjo {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1395-URIgw9 {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1396-D7eZ4t {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1397-WVzxnx {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1398-sIHXco {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1399-NUOs9q {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1400-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 2494px;
  width: 7px;
}
.design-guide .pfad-1401-ZZ9A2h {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1402-P0EDAw {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1403-nShJbz {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1404-CzVPfa {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1405-PGNe38 {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1406-Z6R0rE {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1407-WN0Gkh {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1408-xq7GOB {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1409-TQCOxc {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1410-jLJAzz {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1411-bksA6i {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1412-NzCmYq {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}
.design-guide .pfad-1413-xKXIHE {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}
.design-guide .pfad-1414-tf2XAf {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}
.design-guide .pfad-1415-znKD29 {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1416-3VzUxC {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1417-mb3VxH {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
.design-guide .pfad-1418-1IS7zo {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}
.design-guide .pfad-2-dd6Tqo {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: -2px;
  width: 17px;
}
.design-guide .pfad-895-6tzNvg {
  background-color: transparent;
  bottom: 0px;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 9px;
}
.design-guide .rechteck-614-9UDOxM {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.design-guide .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 158px;
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 77px;
}
.design-guide .rules-for-buttons-3VzUxC {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .sans-serif-fonts-PGNe38 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .search-SZqgts {
  background-color: transparent;
  border: 0;
  bottom: calc(45.45% - 12px);
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 171px;
}
.design-guide .search-SZqgts::placeholder {
  color: #2021215c;
}
.design-guide .serif-fonts-Z6R0rE {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 76px;
}
.design-guide .slab-serif-fonts-WN0Gkh {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .tips-for-a-great-dark-mode-sIHXco {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .usage-of-buttons-mb3VxH {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .usage-of-colors-ZZ9A2h {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .usage-of-grids-MmVsjo {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .usage-of-icons-tf2XAf {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .usage-of-whitespace-URIgw9 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
.design-guide .when-to-use-buttons-or-links-1IS7zo {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% - 15px);
}
@keyframes animate-enter1-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
