/* screen - design-process */

.animate-enter2 {
  animation: animate-enter2-frames 0.60s ease-in-out 0.20s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process {
  background-color: var(--coconut);
  display: block;
  height: 100vh;
  margin: 0px;
  min-height: 6528px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
opacity: 0;transform: translate(0, 25px);
}
.design-process .a-wireframe-is-e-beginning-and-C61RwL {
  background-color: transparent;
  height: 237px;
  left: calc(24.44% - 108px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(40.69% - 96px);
  width: 443px;
}
.design-process .bannerdesignprocess-C61RwL {
  background-color: transparent;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 100%;
}
.design-process .behance-HxQN0E {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.design-process .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(29.82% - 29px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 96px;
}
.design-process .design-process-GCEBCP {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(18.43% - 21px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 113px;
}
.design-process .dribble-MLy1s2 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.design-process .ebene-2-SZqgts {
  background-color: transparent;
  height: 24px;
  left: 25px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}
.design-process .ellipse-273-6tzNvg {
  background-color: transparent;
  border-radius: 9.5px;
  height: 20px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}
.design-process .ellipse-402-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.design-process .ellipse-403-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: calc(33.81% - 19px);
  width: 100%;
}
.design-process .ellipse-404-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  bottom: calc(31.14% - 18px);
  height: 57px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.design-process .ellipse-405-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  bottom: 0px;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.design-process .first-start-ske-d-they-shouldnt-C61RwL {
  background-color: transparent;
  height: 189px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(20.38% - 90px);
  text-align: left;
  top: calc(20.63% - 39px);
  width: 443px;
}
.design-process .get-inspiration-or-your-designs-oPz1AQ {
  background-color: transparent;
  height: 39px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.design-process .gruppe-1037-C61RwL {
  background-color: transparent;
  height: 3760px;
  position: absolute;
  right: calc(48.47% - 28px);
  top: calc(44.69% - 1680px);
  width: 57px;
}
.design-process .gruppe-1115-C61RwL {
  background-color: transparent;
  height: 852px;
  position: absolute;
  right: 274px;
  top: calc(20.97% - 179px);
  width: 529px;
}
.design-process .gruppe-1116-C61RwL {
  background-color: transparent;
  height: 901px;
  left: calc(23.80% - 126px);
  position: absolute;
  top: calc(43.40% - 391px);
  width: 529px;
}
.design-process .gruppe-1117-C61RwL {
  background-color: transparent;
  bottom: calc(35.42% - 259px);
  height: 732px;
  position: absolute;
  right: 274px;
  width: 529px;
}
.design-process .gruppe-1118-C61RwL {
  background-color: transparent;
  background-image: url(../img/mockup@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: calc(34.34% - 159px);
  height: 463px;
  position: absolute;
  right: calc(20.49% - 90px);
  width: 441px;
}
.design-process .gruppe-1119-C61RwL {
  background-color: transparent;
  bottom: 901px;
  height: 732px;
  left: calc(23.80% - 126px);
  position: absolute;
  width: 529px;
}
.design-process .gruppe-112-Sh6Cnr {
  background-color: transparent;
  height: calc(100.00% - 13px);
  position: absolute;
  right: calc(40.50% - 29px);
  top: 13px;
  width: 73px;
}
.design-process .gruppe-47-yTg9dG {
  background-color: transparent;
  height: 31px;
  left: calc(49.35% - 12px);
  position: relative;
  top: calc(50.00% - 15px);
  width: 25px;
}
.design-process .gruppe-496-GCEBCP {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: calc(37.96% - 215px);
  position: absolute;
  top: calc(50.00% - 24px);
  width: 566px;
}
.design-process .gruppe-497-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.design-process .gruppe-663-C61RwL {
  background-color: transparent;
  height: 364px;
  left: calc(27.38% - 55px);
  position: absolute;
  top: calc(47.04% - 171px);
  width: 200px;
}
.design-process .gruppe-690-C61RwL {
  background-color: var(--white-lilac);
  border-radius: 6px;
  bottom: calc(37.21% - 47px);
  height: 126px;
  position: absolute;
  right: calc(24.46% - 52px);
  width: 211px;
}
.design-process .gruppe-705-C61RwL {
  background-color: transparent;
  bottom: calc(41.42% - 40px);
  height: 97px;
  left: 265px;
  position: absolute;
  width: 595px;
}
.design-process .gruppe-706-C61RwL {
  background-color: transparent;
  height: 97px;
  left: 255px;
  position: absolute;
  top: calc(18.89% - 18px);
  width: 605px;
}
.design-process .gruppe-707-C61RwL {
  background-color: var(--black);
  border-radius: 20px;
  bottom: 249px;
  cursor: pointer;
  height: 99px;
  left: calc(29.98% - 30px);
  position: absolute;
  width: 99px;
}
.design-process .gruppe-708-C61RwL {
  background-color: transparent;
  bottom: 454px;
  height: 48px;
  left: calc(50.00% - 210px);
  position: absolute;
  width: 421px;
}
.design-process .gruppe-719-C61RwL {
  background-color: transparent;
  background-image: url(../img/wireframe@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 463px;
  left: calc(24.41% - 108px);
  position: absolute;
  top: calc(46.97% - 217px);
  width: 441px;
}
.design-process .gruppe-722-C61RwL {
  background-color: var(--white);
  border-radius: 50.5px;
  box-shadow: 0px 0px 15px #0000001a;
  cursor: pointer;
  height: 101px;
  position: absolute;
  right: calc(49.97% - 50px);
  top: 853px;
  width: 101px;
}
.design-process .komponente-28-1-C61RwL {
  background-color: transparent;
  bottom: 200px;
  cursor: pointer;
  height: 19px;
  left: calc(30.39% - 19px);
  position: absolute;
  width: 64px;
}
.design-process .komponente-29-1-C61RwL {
  background-color: transparent;
  bottom: 200px;
  cursor: pointer;
  height: 19px;
  left: calc(49.73% - 31px);
  position: absolute;
  width: 62px;
}
.design-process .komponente-30-1-C61RwL {
  background-color: transparent;
  bottom: 200px;
  cursor: pointer;
  height: 19px;
  position: absolute;
  right: calc(30.75% - 15px);
  width: 50px;
}
.design-process .linie-401-oPz1AQ {
  background-color: transparent;
  bottom: -2px;
  height: 4px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  width: 44px;
}
.design-process .linie-416-wwm7Yi {
  background-color: transparent;
  height: 100%;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1px;
}
.design-process .linie-417-wwm7Yi {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 17px;
  top: 1px;
  width: 1px;
}
.design-process .linie-418-wwm7Yi {
  background-color: transparent;
  height: 100px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: calc(100.00% - 35px);
}
.design-process .linie-419-wwm7Yi {
  background-color: transparent;
  height: 100px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: calc(100.00% - 35px);
}
.design-process .linie-420-wwm7Yi {
  background-color: transparent;
  bottom: calc(28.17% - 13px);
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-421-wwm7Yi {
  background-color: transparent;
  bottom: calc(28.17% - 13px);
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-422-wwm7Yi {
  background-color: transparent;
  bottom: 30px;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-423-wwm7Yi {
  background-color: transparent;
  bottom: 30px;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-424-wwm7Yi {
  background-color: transparent;
  bottom: calc(28.17% - 13px);
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-425-wwm7Yi {
  background-color: transparent;
  bottom: calc(28.17% - 13px);
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-426-wwm7Yi {
  background-color: transparent;
  bottom: 30px;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-427-wwm7Yi {
  background-color: transparent;
  bottom: 30px;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}
.design-process .linie-428-wwm7Yi {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 17px;
  top: 0px;
  width: 1px;
}
.design-process .linie-429-wwm7Yi {
  background-color: transparent;
  bottom: 31px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.design-process .linie-430-wwm7Yi {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 100%;
}
.design-process .linie-441-QIcGv3 {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: calc(50.00% - 1px);
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 2px;
}
.design-process .linie-53-KqJx5g {
  background-color: transparent;
  height: calc(100.00% + 3px);
  object-fit: cover;
  position: absolute;
  right: calc(49.91% - 1px);
  top: -2px;
  width: 3px;
}
.design-process .logo-GCEBCP {
  background-color: transparent;
  bottom: calc(50.00% - 13px);
  cursor: pointer;
  height: 25px;
  left: 160px;
  position: absolute;
  width: 151px;
}
.design-process .mockup-C61RwL {
  background-color: transparent;
  bottom: calc(41.47% - 16px);
  height: 39px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(35.03% - 39px);
  text-align: left;
  white-space: nowrap;
  width: 110px;
}
.design-process .mountain-60860831920-Sh6Cnr {
  background-color: var(--white-lilac);
  border-radius: 6px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.design-process .now-that-you-ha-e-look-and-feel-C61RwL {
  background-color: transparent;
  bottom: calc(40.22% - 28px);
  height: 69px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(20.38% - 90px);
  text-align: left;
  width: 443px;
}
.design-process .pfad-1-KqJx5g {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  width: 17px;
}
.design-process .pfad-1051-zXS1Qu {
  background-color: transparent;
  bottom: 14px;
  height: 70px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 45px);
}
.design-process .pfad-1373-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(42.60% - 8px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 19px;
}
.design-process .pfad-1374-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(39.84% - 7px);
  top: 1px;
  width: 18px;
}
.design-process .pfad-1375-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(29.85% - 1px);
  top: 1px;
  width: 4px;
}
.design-process .pfad-1376-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 20px;
  top: 1px;
  width: 18px;
}
.design-process .pfad-1377-FV3pGc {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 16px;
}
.design-process .pfad-1378-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}
.design-process .pfad-1379-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 4px;
}
.design-process .pfad-1380-FV3pGc {
  background-color: transparent;
  height: 100%;
  left: calc(19.24% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 21px;
}
.design-process .pfad-2-KqJx5g {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: -2px;
  width: 17px;
}
.design-process .pfad-264-Bxbxzr {
  background-color: transparent;
  height: 34px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 29px;
}
.design-process .pfad-338-Bxbxzr {
  background-color: transparent;
  height: 11px;
  left: calc(32.22% - 4px);
  object-fit: cover;
  position: absolute;
  top: calc(36.30% - 4px);
  width: 12px;
}
.design-process .pfad-339-Bxbxzr {
  background-color: transparent;
  height: calc(100.00% - 15px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 57px;
}
.design-process .pfad-340-Bxbxzr {
  background-color: transparent;
  height: 66px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 46px;
}
.design-process .pfad-62-Bxbxzr {
  background-color: transparent;
  height: 41px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: calc(48.15% - 20px);
  width: 37px;
}
.design-process .pfad-67-Bxbxzr {
  background-color: transparent;
  bottom: 1px;
  height: 68px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 48px;
}
.design-process .pfad-68-Bxbxzr {
  background-color: transparent;
  bottom: 1px;
  height: 37px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 38px;
}
.design-process .pfad-70-Bxbxzr {
  background-color: transparent;
  bottom: calc(39.65% - 15px);
  height: 38px;
  object-fit: cover;
  position: absolute;
  right: 6px;
  width: 25px;
}
.design-process .pfad-895-6tzNvg {
  background-color: transparent;
  bottom: 0px;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 9px;
}
.design-process .pinterest-nkrLlh {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.design-process .polygon-10-zlS8Hp {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-17-37wpBn {
  background-color: transparent;
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: -22px;
  top: 39px;
  width: 75px;
}
.design-process .polygon-17-FMEilu {
  background-color: transparent;
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: -22px;
  top: 39px;
  width: 75px;
}
.design-process .polygon-18-37wpBn {
  background-color: transparent;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 59px;
  width: 30px;
}
.design-process .polygon-18-FMEilu {
  background-color: transparent;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 59px;
  width: 30px;
}
.design-process .polygon-19-wxAdjt {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 75px;
}
.design-process .polygon-20-wxAdjt {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-5-LyqNeT {
  background-color: transparent;
  bottom: calc(38.64% - 29px);
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: -22px;
  width: 80px;
}
.design-process .polygon-5-sEKMD7 {
  background-color: transparent;
  bottom: calc(38.64% - 29px);
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: -22px;
  width: 80px;
}
.design-process .polygon-6-LyqNeT {
  background-color: transparent;
  bottom: calc(49.25% - 15px);
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 35px;
}
.design-process .polygon-6-sEKMD7 {
  background-color: transparent;
  bottom: calc(49.25% - 15px);
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 35px;
}
.design-process .polygon-9-zlS8Hp {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 75px;
}
.design-process .prototype-app-C61RwL {
  background-color: transparent;
  bottom: 931px;
  height: 463px;
  left: calc(24.41% - 108px);
  object-fit: cover;
  position: absolute;
  width: 441px;
}
.design-process .prototype-app-VMr6Om {
  background-color: transparent;
  bottom: calc(23.72% - 9px);
  height: 39px;
  left: calc(21.05% - 43px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 205px;
}
.design-process .rechteck-1335-37wpBn {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 29px);
}
.design-process .rechteck-1335-FMEilu {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 29px);
}
.design-process .rechteck-1335-LyqNeT {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 34px);
}
.design-process .rechteck-1335-sEKMD7 {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 34px);
}
.design-process .rechteck-1335-wxAdjt {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 29px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 29px);
}
.design-process .rechteck-1335-zlS8Hp {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 29px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 29px);
}
.design-process .rechteck-1509-wwm7Yi {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 15px #00000029;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.design-process .rechteck-1511-wwm7Yi {
  background-color: var(--dove-gray);
  height: 99px;
  left: 17px;
  position: absolute;
  top: 31px;
  width: calc(100.00% - 34px);
}
.design-process .rechteck-1512-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(35.03% - 4px);
  height: 12px;
  position: absolute;
  right: 17px;
  width: 110px;
}
.design-process .rechteck-1513-wwm7Yi {
  background-color: var(--dove-gray);
  height: 12px;
  left: 17px;
  position: absolute;
  top: calc(45.68% - 5px);
  width: 127px;
}
.design-process .rechteck-1514-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(47.28% - 3px);
  height: 6px;
  left: 17px;
  position: absolute;
  width: 26px;
}
.design-process .rechteck-1515-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(47.28% - 3px);
  height: 6px;
  left: calc(30.41% - 8px);
  position: absolute;
  width: 26px;
}
.design-process .rechteck-1516-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(47.28% - 3px);
  height: 6px;
  position: absolute;
  right: calc(49.51% - 13px);
  width: 26px;
}
.design-process .rechteck-1517-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(28.54% - 13px);
  height: 44px;
  left: 17px;
  position: absolute;
  width: 44px;
}
.design-process .rechteck-1518-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: 31px;
  height: 44px;
  left: 17px;
  position: absolute;
  width: 44px;
}
.design-process .rechteck-1519-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(28.54% - 13px);
  height: 44px;
  left: 17px;
  position: absolute;
  width: 44px;
}
.design-process .rechteck-1520-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: 31px;
  height: 44px;
  left: 17px;
  position: absolute;
  width: 44px;
}
.design-process .rechteck-1521-wwm7Yi {
  background-color: var(--dove-gray);
  height: 11px;
  left: 17px;
  position: absolute;
  top: calc(39.89% - 4px);
  width: calc(100.00% - 34px);
}
.design-process .rechteck-1522-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(30.12% - 3px);
  height: 11px;
  position: absolute;
  right: calc(31.33% - 29px);
  width: 94px;
}
.design-process .rechteck-1523-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(25.52% - 2px);
  height: 6px;
  left: calc(41.88% - 11px);
  position: absolute;
  width: 26px;
}
.design-process .rechteck-1524-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(25.52% - 2px);
  height: 6px;
  position: absolute;
  right: calc(38.04% - 10px);
  width: 26px;
}
.design-process .rechteck-1525-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: calc(18.01% - 2px);
  height: 12px;
  position: absolute;
  right: 17px;
  width: 110px;
}
.design-process .rechteck-1526-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: 46px;
  height: 12px;
  position: absolute;
  right: calc(31.33% - 29px);
  width: 94px;
}
.design-process .rechteck-1527-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: 31px;
  height: 6px;
  left: calc(41.88% - 11px);
  position: absolute;
  width: 26px;
}
.design-process .rechteck-1528-wwm7Yi {
  background-color: var(--dove-gray);
  bottom: 31px;
  height: 6px;
  position: absolute;
  right: calc(38.04% - 10px);
  width: 26px;
}
.design-process .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 158px;
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 77px;
}
.design-process .search-SZqgts {
  background-color: transparent;
  border: 0;
  bottom: calc(45.45% - 12px);
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 171px;
}
.design-process .search-SZqgts::placeholder {
  color: #2021215c;
}
.design-process .sketch-C61RwL {
  background-color: transparent;
  height: 463px;
  object-fit: cover;
  position: absolute;
  right: calc(20.49% - 90px);
  top: calc(25.54% - 118px);
  width: 441px;
}
.design-process .sketch-scribble-C61RwL {
  background-color: transparent;
  height: 39px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(30.70% - 68px);
  text-align: left;
  top: 1245px;
  white-space: nowrap;
  width: 223px;
}
.design-process .span0-KWhsjX {

}
.design-process .span0-k4XpPr {

}
.design-process .span1-KWhsjX {
  color: var(--chetwode-blue);
}
.design-process .span1-k4XpPr {
  color: var(--chetwode-blue);
}
.design-process .span2-KWhsjX {

}
.design-process .span2-k4XpPr {

}
.design-process .step-01-C61RwL {
  background-color: transparent;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(21.50% - 91px);
  text-align: left;
  top: 1214px;
  white-space: nowrap;
  width: 422px;
}
.design-process .step-02-C61RwL {
  background-color: transparent;
  height: 17px;
  left: calc(24.10% - 102px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.88% - 6px);
  white-space: nowrap;
  width: 422px;
}
.design-process .step-03-C61RwL {
  background-color: transparent;
  bottom: calc(42.14% - 7px);
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(21.50% - 91px);
  text-align: left;
  white-space: nowrap;
  width: 422px;
}
.design-process .step-04-C61RwL {
  background-color: transparent;
  bottom: calc(24.44% - 4px);
  height: 17px;
  left: calc(24.10% - 102px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 422px;
}
.design-process .the-design-process-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: 448px;
}
.design-process .then-after-youv-implementation-C61RwL {
  background-color: transparent;
  bottom: calc(22.39% - 15px);
  height: 69px;
  left: calc(24.44% - 108px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 443px;
}
.design-process .this-is-when-th-mes-into-action-LyqNeT {
  background-color: transparent;
  bottom: calc(48.28% - 19px);
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 39px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 92px);
}
.design-process .this-is-when-th-mes-into-action-sEKMD7 {
  background-color: transparent;
  bottom: calc(48.28% - 19px);
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 39px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 92px);
}
.design-process .to-create-an-ap-ome-into-action-C61RwL {
  background-color: transparent;
  height: 86px;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 536px;
  width: 648px;
}
.design-process .wireframe-C61RwL {
  background-color: transparent;
  height: 39px;
  left: calc(20.30% - 29px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(38.48% - 15px);
  white-space: nowrap;
  width: 142px;
}
.design-process .x51916-C61RwL {
  background-color: transparent;
  border-radius: 20px;
  bottom: 249px;
  height: 100px;
  left: calc(49.73% - 50px);
  object-fit: cover;
  position: absolute;
  width: 100px;
}
.design-process .x87400-C61RwL {
  background-color: transparent;
  bottom: 244px;
  height: 109px;
  object-fit: cover;
  position: absolute;
  right: calc(30.15% - 33px);
  width: 109px;
}
@keyframes animate-enter2-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
