/* screen - design-guide */

.animate-enter1 {
  animation: animate-enter1-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-guide {
  background-color: var(--coconut);
  display: block;
  height: 5211px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.design-guide .accessibility-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1725px;
  white-space: nowrap;
  width: auto;
}
.design-guide .animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-guide .avoid-these-typo-errors-PngSPK {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 166px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .bannerdesignguide-C61RwL {
  background-color: transparent;
  display: block;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.design-guide .best-practice-tips-B6FddB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 125px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .breakpoints-for-fferent-devices-kSleWw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 233px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .buttons-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 219px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4626px;
  white-space: nowrap;
  width: auto;
}
.design-guide .color-deficiencies-sxROfv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 129px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .color-psychology-8SOaIp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .colors-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2305px;
  white-space: nowrap;
  width: auto;
}
.design-guide .contrast-checker-5dRcjU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 123px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .contrast-checker-kv5RIr {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 123px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .design-guide-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 360px;
  white-space: nowrap;
  width: auto;
}
.design-guide .design-guide-GCEBCP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 200px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 113px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .ebene-2-SZqgts {
  background-color: transparent;
  background-image: url(../img/ebene-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 25px;
  position: relative;
  width: 25px;
}
.design-guide .font-size-and-scaling-ZbTrxz {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 152px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .fonts-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 3465px;
  white-space: nowrap;
  width: auto;
}
.design-guide .gruppe-1038-juugUx {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 430px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}
.design-guide .gruppe-1125-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 430px;
  left: 160px;
  position: absolute;
  top: 1100px;
  width: 1600px;
}
.design-guide .gruppe-1126-C61RwL {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 1680px;
  width: auto;
}
.design-guide .gruppe-1127-C61RwL {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 2260px;
  width: auto;
}
.design-guide .gruppe-1128-C61RwL {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 2840px;
  width: auto;
}
.design-guide .gruppe-1129-C61RwL {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 3420px;
  width: auto;
}
.design-guide .gruppe-1130-C61RwL {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 4581px;
  width: auto;
}
.design-guide .gruppe-1131-C61RwL {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 430px;
  justify-content: flex-end;
  left: 160px;
  min-width: 1600px;
  padding: 0 0.0px;
  position: absolute;
  top: 4000px;
  width: auto;
}
.design-guide .gruppe-496-GCEBCP {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 201px;
  min-width: 566px;
  padding: 10px 23px;
  position: relative;
  width: auto;
}
.design-guide .gruppe-497-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: flex-end;
  left: 0px;
  min-width: 1920px;
  padding: 0 158px;
  position: absolute;
  top: 0px;
  width: auto;
}
.design-guide .here-you-get-an-re-treated-here-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 446px;
  white-space: nowrap;
  width: auto;
}
.design-guide .how-to-build-icons-1eOwQW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 134px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .icons-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4045px;
  white-space: nowrap;
  width: auto;
}
.design-guide .inspiration-and-free-icon-sets-G76uWd {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 208px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .komponente-73-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 125px;
  position: absolute;
  top: 4267px;
  width: auto;
}
.design-guide .komponente-74-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 225px;
  position: absolute;
  top: 4310px;
  width: auto;
}
.design-guide .komponente-75-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 96px;
  position: absolute;
  top: 4224px;
  width: auto;
}
.design-guide .komponente-76-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 142px;
  position: absolute;
  top: 4181px;
  width: auto;
}
.design-guide .komponente-77-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 151px;
  position: absolute;
  top: 4138px;
  width: auto;
}
.design-guide .komponente-78-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 221px;
  position: absolute;
  top: 4805px;
  width: auto;
}
.design-guide .komponente-79-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 141px;
  position: absolute;
  top: 4762px;
  width: auto;
}
.design-guide .komponente-80-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 141px;
  position: absolute;
  top: 4719px;
  width: auto;
}
.design-guide .komponente-81-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 140px;
  position: absolute;
  top: 3771px;
  width: auto;
}
.design-guide .komponente-82-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 183px;
  position: absolute;
  top: 3728px;
  width: auto;
}
.design-guide .komponente-83-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 169px;
  position: absolute;
  top: 3686px;
  width: auto;
}
.design-guide .komponente-84-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 127px;
  position: absolute;
  top: 3643px;
  width: auto;
}
.design-guide .komponente-85-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 93px;
  position: absolute;
  top: 3601px;
  width: auto;
}
.design-guide .komponente-86-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 131px;
  position: absolute;
  top: 3558px;
  width: auto;
}
.design-guide .komponente-87-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 241px;
  position: absolute;
  top: 3036px;
  width: auto;
}
.design-guide .komponente-88-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 250px;
  position: absolute;
  top: 2993px;
  width: auto;
}
.design-guide .komponente-89-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 141px;
  position: absolute;
  top: 2441px;
  width: auto;
}
.design-guide .komponente-90-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 131px;
  position: absolute;
  top: 2398px;
  width: auto;
}
.design-guide .komponente-91-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 140px;
  position: absolute;
  top: 1947px;
  width: auto;
}
.design-guide .komponente-92-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 207px;
  position: absolute;
  top: 1904px;
  width: auto;
}
.design-guide .komponente-93-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 232px;
  position: absolute;
  top: 1861px;
  width: auto;
}
.design-guide .komponente-94-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 146px;
  position: absolute;
  top: 1818px;
  width: auto;
}
.design-guide .komponente-95-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 168px;
  position: absolute;
  top: 1325px;
  width: auto;
}
.design-guide .komponente-96-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 122px;
  position: absolute;
  top: 1282px;
  width: auto;
}
.design-guide .komponente-97-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 220px;
  min-width: 250px;
  position: absolute;
  top: 1239px;
  width: auto;
}
.design-guide .layout-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1145px;
  white-space: nowrap;
  width: auto;
}
.design-guide .linie-399-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1206px;
  width: 44px;
}
.design-guide .linie-402-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 3526px;
  width: 44px;
}
.design-guide .linie-403-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 4106px;
  width: 44px;
}
.design-guide .linie-404-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1786px;
  width: 44px;
}
.design-guide .linie-405-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 2366px;
  width: 44px;
}
.design-guide .linie-406-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 4686px;
  width: 44px;
}
.design-guide .linie-408-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 2960px;
  width: 44px;
}
.design-guide .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 26px;
  object-fit: cover;
  position: relative;
  width: 153px;
}
.design-guide .make-your-designs-accessible-vQgHTa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 215px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .navigation-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2900px;
  white-space: nowrap;
  width: auto;
}
.design-guide .navigation-elem-nts-for-desktop-ppXcOh {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 233px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .navigation-elements-for-mobile-INlcf1 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 224px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .old-vs-new-DtUutc {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 79px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .overviewaccessibility-fQ4YiQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .overviewbuttons-9UDOxM {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .overviewcolors-4j9Fxa {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .overviewfonts-ZxJczG {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .overviewicons-W8JIii {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .overviewlayout-juugUx {
  background-color: transparent;
  height: 430px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1312px;
}
.design-guide .overviewnavigation-Ww0XKU {
  background-color: transparent;
  flex-shrink: 1;
  height: 430px;
  object-fit: cover;
  position: relative;
  width: 1312px;
}
.design-guide .pfad-1393-kSleWw {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.91px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1394-tZdNQo {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1395-d6q1wf {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1396-sxROfv {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1397-vQgHTa {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1398-oNRgMI {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1399-5dRcjU {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1400-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 2404px;
  width: 7px;
}
.design-guide .pfad-1401-hHwIl2 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1402-8SOaIp {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1403-INlcf1 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1404-ppXcOh {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1405-kV5Jrz {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1406-xexbVU {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1407-cjD28W {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1408-ZbTrxz {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1409-PngSPK {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1410-kv5RIr {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1411-1eOwQW {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1412-B6FddB {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.09px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1413-DtUutc {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.18px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1414-zARyJa {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.27px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1415-G76uWd {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1416-N5QM04 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1417-mGEHbe {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.08px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .pfad-1418-LBCV8J {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-bottom: 0.17px;
  object-fit: cover;
  position: relative;
  width: 7px;
}
.design-guide .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 77px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .rules-for-buttons-N5QM04 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .sans-serif-fonts-kV5Jrz {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 114px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .scrollto-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 140px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 140px;
}
.design-guide .search-SZqgts {
  align-self: center;
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 15px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  width: 475px;
}
.design-guide .search-SZqgts::placeholder {
  color: #2021215c;
}
.design-guide .serif-fonts-xexbVU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 76px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .slab-serif-fonts-cjD28W {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 110px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .tips-for-a-great-dark-mode-oNRgMI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 190px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .usage-of-buttons-mGEHbe {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .usage-of-colors-hHwIl2 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 114px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .usage-of-grids-tZdNQo {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 105px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .usage-of-icons-zARyJa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 108px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .usage-of-whitespace-d6q1wf {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 151px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-guide .when-to-use-buttons-or-links-LBCV8J {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 204px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
@keyframes animate-enter-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter1-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
