/* screen - design-process */

.animate-enter7 {
  animation: animate-enter7-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process {
  background-color: var(--coconut);
  display: block;
  height: 6528px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .a-wireframe-is-e-beginning-and-1e7zwy {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 443px;
}
.design-process .animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter1 {
  animation: animate-enter1-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter2 {
  animation: animate-enter2-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter3 {
  animation: animate-enter3-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter4 {
  animation: animate-enter4-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter5 {
  animation: animate-enter5-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .animate-enter6 {
  animation: animate-enter6-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.design-process .bannerdesignprocess-C61RwL {
  background-color: transparent;
  display: block;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .behance-HxQN0E {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 16px;
  margin-bottom: -2px;
  min-height: 21px;
  min-width: 64px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.design-process .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 200px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-process .design-process-GCEBCP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 113px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-process .dribble-MLy1s2 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 16px;
  margin-bottom: -2px;
  min-height: 21px;
  min-width: 52px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.design-process .ebene-2-SZqgts {
  background-color: transparent;
  background-image: url(../img/ebene-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 25px;
  position: relative;
  width: 25px;
}
.design-process .ellipse-402-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.design-process .ellipse-403-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 57px;
}
.design-process .ellipse-404-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 2550px;
  width: 57px;
}
.design-process .ellipse-405-QIcGv3 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 3703px;
  width: 57px;
}
.design-process .first-start-ske-d-they-shouldnt-tD3QGc {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 443px;
}
.design-process .get-inspiration-or-your-designs-oPz1AQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  min-height: 39px;
  min-width: 423px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-process .gruppe-1037-C61RwL {
  background-color: transparent;
  height: 3760px;
  left: 960px;
  position: absolute;
  top: 1147px;
  width: 57px;
}
.design-process .gruppe-1115-tD3QGc {
  background-color: transparent;
  height: 852px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 529px;
}
.design-process .gruppe-1116-1e7zwy {
  background-color: transparent;
  height: 901px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 529px;
}
.design-process .gruppe-1117-zAfL08 {
  background-color: transparent;
  height: 732px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 529px;
}
.design-process .gruppe-1118-zAfL08 {
  background-color: transparent;
  background-image: url(../img/mockup@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 463px;
  left: 59px;
  position: absolute;
  top: 239px;
  width: 441px;
}
.design-process .gruppe-1119-6CARtG {
  background-color: transparent;
  height: 732px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 529px;
}
.design-process .gruppe-1157-C61RwL {
  background-color: transparent;
  display: block;
  height: 852px;
  left: 1117px;
  position: absolute;
  top: 1100px;
  width: 529px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-1158-C61RwL {
  background-color: transparent;
  display: block;
  height: 901px;
  left: 331px;
  position: absolute;
  top: 2352px;
  width: 529px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-1159-C61RwL {
  background-color: transparent;
  display: block;
  height: 732px;
  left: 1117px;
  position: absolute;
  top: 3653px;
  width: 529px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-1160-C61RwL {
  background-color: transparent;
  display: block;
  height: 732px;
  left: 331px;
  position: absolute;
  top: 4805px;
  width: 529px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-496-GCEBCP {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 201px;
  min-width: 566px;
  padding: 10px 23px;
  position: relative;
  width: auto;
}
.design-process .gruppe-497-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: flex-end;
  left: 0px;
  min-width: 1920px;
  padding: 0 158px;
  position: absolute;
  top: 0px;
  width: auto;
}
.design-process .gruppe-663-1e7zwy {
  background-color: transparent;
  height: 364px;
  left: 140px;
  position: absolute;
  top: 457px;
  width: 200px;
}
.design-process .gruppe-705-C61RwL {
  background-color: transparent;
  display: block;
  height: 97px;
  left: 265px;
  position: absolute;
  top: 3677px;
  width: 595px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-706-C61RwL {
  background-color: transparent;
  display: block;
  height: 97px;
  left: 255px;
  position: absolute;
  top: 1125px;
  width: 605px;
opacity: 0;transform: translate(0, 25px);
}
.design-process .gruppe-707-C61RwL {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 99px;
  justify-content: flex-end;
  left: 546px;
  min-width: 99px;
  padding: 13.6px 22.6px;
  position: absolute;
  top: 6090px;
  width: auto;
}
.design-process .gruppe-708-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 750px;
  min-height: 48px;
  position: absolute;
  top: 5937px;
  width: 423px;
}
.design-process .gruppe-719-1e7zwy {
  background-color: transparent;
  background-image: url(../img/wireframe@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 463px;
  left: 30px;
  position: absolute;
  top: 407px;
  width: 441px;
}
.design-process .komponente-28-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 564px;
  min-width: 66px;
  position: absolute;
  top: 6219px;
  width: auto;
}
.design-process .komponente-29-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 924px;
  min-width: 64px;
  position: absolute;
  top: 6219px;
  width: auto;
}
.design-process .komponente-30-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 1295px;
  min-width: 52px;
  position: absolute;
  top: 6219px;
  width: auto;
}
.design-process .linie-401-oPz1AQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: -2px;
  margin-top: 6px;
  object-fit: cover;
  position: relative;
  width: 44px;
}
.design-process .linie-416-mEaS2F {
  background-color: transparent;
  height: 364px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 1px;
}
.design-process .linie-417-mEaS2F {
  background-color: transparent;
  height: 364px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 1px;
}
.design-process .linie-418-mEaS2F {
  background-color: transparent;
  height: 100px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 165px;
}
.design-process .linie-419-mEaS2F {
  background-color: transparent;
  height: 100px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 165px;
}
.design-process .linie-420-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 45px;
}
.design-process .linie-421-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 45px;
}
.design-process .linie-422-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 289px;
  width: 45px;
}
.design-process .linie-423-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 289px;
  width: 45px;
}
.design-process .linie-424-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 45px;
}
.design-process .linie-425-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 45px;
}
.design-process .linie-426-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 289px;
  width: 45px;
}
.design-process .linie-427-mEaS2F {
  background-color: transparent;
  height: 45px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 289px;
  width: 45px;
}
.design-process .linie-428-mEaS2F {
  background-color: transparent;
  height: 364px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 1px;
}
.design-process .linie-429-mEaS2F {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 332px;
  width: 200px;
}
.design-process .linie-430-mEaS2F {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 200px;
}
.design-process .linie-441-QIcGv3 {
  background-color: transparent;
  height: 3705px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 2px;
}
.design-process .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 26px;
  object-fit: cover;
  position: relative;
  width: 153px;
}
.design-process .mockup-zAfL08 {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
.design-process .now-that-you-ha-e-look-and-feel-zAfL08 {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 443px;
}
.design-process .pfad-1051-zXS1Qu {
  background-color: transparent;
  flex-shrink: 1;
  height: 70px;
  object-fit: cover;
  position: relative;
  width: 54px;
}
.design-process .pinterest-nkrLlh {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 16px;
  margin-bottom: -2px;
  min-height: 21px;
  min-width: 66px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.design-process .polygon-10-0lFzac {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-17-Svy6Qz {
  background-color: transparent;
  height: 75px;
  left: 476px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 75px;
}
.design-process .polygon-17-jgVWAo {
  background-color: transparent;
  height: 75px;
  left: 476px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 75px;
}
.design-process .polygon-18-Svy6Qz {
  background-color: transparent;
  height: 30px;
  left: 499px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-18-jgVWAo {
  background-color: transparent;
  height: 30px;
  left: 499px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-19-MbKiDZ {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 75px;
}
.design-process .polygon-20-MbKiDZ {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.design-process .polygon-5-LyqNeT {
  background-color: transparent;
  height: 75px;
  left: 538px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 80px;
}
.design-process .polygon-5-sEKMD7 {
  background-color: transparent;
  height: 75px;
  left: 548px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 80px;
}
.design-process .polygon-6-LyqNeT {
  background-color: transparent;
  height: 30px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 35px;
}
.design-process .polygon-6-sEKMD7 {
  background-color: transparent;
  height: 30px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 35px;
}
.design-process .polygon-9-0lFzac {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 75px;
}
.design-process .prototype-app-6CARtG {
  background-color: transparent;
  height: 463px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 441px;
}
.design-process .prototype-app-9AFwUE {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
.design-process .rechteck-1335-0lFzac {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 852px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.design-process .rechteck-1335-LyqNeT {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 97px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 561px;
}
.design-process .rechteck-1335-MbKiDZ {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 732px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.design-process .rechteck-1335-Svy6Qz {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 901px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.design-process .rechteck-1335-jgVWAo {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 732px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.design-process .rechteck-1335-sEKMD7 {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 97px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 571px;
}
.design-process .rechteck-1509-mEaS2F {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 15px #00000029;
  height: 363px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 200px;
}
.design-process .rechteck-1511-mEaS2F {
  background-color: var(--dove-gray);
  height: 99px;
  left: 17px;
  position: absolute;
  top: 31px;
  width: 166px;
}
.design-process .rechteck-1512-mEaS2F {
  background-color: var(--dove-gray);
  height: 12px;
  left: 73px;
  position: absolute;
  top: 229px;
  width: 110px;
}
.design-process .rechteck-1513-mEaS2F {
  background-color: var(--dove-gray);
  height: 12px;
  left: 17px;
  position: absolute;
  top: 161px;
  width: 127px;
}
.design-process .rechteck-1514-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 17px;
  position: absolute;
  top: 189px;
  width: 26px;
}
.design-process .rechteck-1515-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 53px;
  position: absolute;
  top: 189px;
  width: 26px;
}
.design-process .rechteck-1516-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 88px;
  position: absolute;
  top: 189px;
  width: 26px;
}
.design-process .rechteck-1517-mEaS2F {
  background-color: var(--dove-gray);
  height: 44px;
  left: 17px;
  position: absolute;
  top: 229px;
  width: 44px;
}
.design-process .rechteck-1518-mEaS2F {
  background-color: var(--dove-gray);
  height: 44px;
  left: 17px;
  position: absolute;
  top: 289px;
  width: 44px;
}
.design-process .rechteck-1519-mEaS2F {
  background-color: var(--dove-gray);
  height: 44px;
  left: 17px;
  position: absolute;
  top: 229px;
  width: 44px;
}
.design-process .rechteck-1520-mEaS2F {
  background-color: var(--dove-gray);
  height: 44px;
  left: 17px;
  position: absolute;
  top: 289px;
  width: 44px;
}
.design-process .rechteck-1521-mEaS2F {
  background-color: var(--dove-gray);
  height: 11px;
  left: 17px;
  position: absolute;
  top: 141px;
  width: 166px;
}
.design-process .rechteck-1522-mEaS2F {
  background-color: var(--dove-gray);
  height: 11px;
  left: 73px;
  position: absolute;
  top: 247px;
  width: 94px;
}
.design-process .rechteck-1523-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 73px;
  position: absolute;
  top: 267px;
  width: 26px;
}
.design-process .rechteck-1524-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 108px;
  position: absolute;
  top: 267px;
  width: 26px;
}
.design-process .rechteck-1525-mEaS2F {
  background-color: var(--dove-gray);
  height: 12px;
  left: 73px;
  position: absolute;
  top: 289px;
  width: 110px;
}
.design-process .rechteck-1526-mEaS2F {
  background-color: var(--dove-gray);
  height: 12px;
  left: 73px;
  position: absolute;
  top: 306px;
  width: 94px;
}
.design-process .rechteck-1527-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 73px;
  position: absolute;
  top: 327px;
  width: 26px;
}
.design-process .rechteck-1528-mEaS2F {
  background-color: var(--dove-gray);
  height: 6px;
  left: 108px;
  position: absolute;
  top: 327px;
  width: 26px;
}
.design-process .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 77px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.design-process .scrollto-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 140px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 140px;
}
.design-process .search-SZqgts {
  align-self: center;
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 15px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  width: 475px;
}
.design-process .search-SZqgts::placeholder {
  color: #2021215c;
}
.design-process .sketch-scribble-tD3QGc {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
.design-process .sketch-tD3QGc {
  background-color: transparent;
  height: 463px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 441px;
}
.design-process .span0-KWhsjX {

}
.design-process .span0-k4XpPr {

}
.design-process .span1-KWhsjX {
  color: var(--chetwode-blue);
}
.design-process .span1-k4XpPr {
  color: var(--chetwode-blue);
}
.design-process .span2-KWhsjX {

}
.design-process .span2-k4XpPr {

}
.design-process .step-01-tD3QGc {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 422px;
}
.design-process .step-02-1e7zwy {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 422px;
}
.design-process .step-03-zAfL08 {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 422px;
}
.design-process .step-04-6CARtG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 422px;
}
.design-process .the-design-process-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 360px;
  white-space: nowrap;
  width: auto;
}
.design-process .then-after-youv-implementation-6CARtG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 443px;
}
.design-process .this-is-when-th-mes-into-action-LyqNeT {
  background-color: transparent;
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.design-process .this-is-when-th-mes-into-action-sEKMD7 {
  background-color: transparent;
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.design-process .to-create-an-ap-ome-into-action-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 446px;
  width: 648px;
}
.design-process .wireframe-1e7zwy {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
.design-process .x51916-C61RwL {
  background-color: transparent;
  border-radius: 20px;
  height: 100px;
  left: 905px;
  object-fit: cover;
  position: absolute;
  top: 6089px;
  width: 100px;
}
.design-process .x87400-C61RwL {
  background-color: transparent;
  height: 109px;
  left: 1265px;
  object-fit: cover;
  position: absolute;
  top: 6085px;
  width: 109px;
}
@keyframes animate-enter-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter1-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter2-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter3-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter4-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter5-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter6-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter7-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
