/* screen - guidelines-buttons */

.animate-enter44 {
  animation: animate-enter44-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons {
  background-color: var(--coconut);
  display: block;
  height: 8099px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .a-button-is-a-f-ns-and-machines-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 752px;
}
.guidelines-buttons .accessibility-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .accessibility-o-ily-tested-here-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4211px;
  width: 380px;
}
.guidelines-buttons .accessible-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 4118px;
  width: 640px;
}
.guidelines-buttons .accessible-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4148px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .active-interactive-and-enabled-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3728px;
  white-space: nowrap;
  width: 250px;
}
.guidelines-buttons .animate-enter42 {
  animation: animate-enter42-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .animate-enter43 {
  animation: animate-enter43-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .bannerbuttons-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .best-practice-tips-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .best-practice-tips-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .button-states-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3568px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .buttons-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7703px;
  width: 174px;
}
.guidelines-buttons .buttons-are-use-new-upload-etc-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7738px;
  width: 401px;
}
.guidelines-buttons .buttons-communi-d-links-matters-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7602px;
  width: 580px;
}
.guidelines-buttons .buttons-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 327px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .buttonstates-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 3538px;
  width: 640px;
}
.guidelines-buttons .colors-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 161px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .content-of-this-page-enGkxY {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(29.82% - 29px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 96px;
}
.guidelines-buttons .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(18.43% - 21px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 113px;
}
.guidelines-buttons .disabled-curren-noninteractive-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3838px;
  white-space: nowrap;
  width: 340px;
}
.guidelines-buttons .easy-to-find-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1828px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .easytofind-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 1798px;
  width: 640px;
}
.guidelines-buttons .ebene-2-SZqgts {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-buttons .fonts-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 243px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .gruppe-1171-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 35px #00000029;
  display: block;
  height: 503px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .gruppe-496-GCEBCP {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: calc(37.96% - 215px);
  position: absolute;
  top: calc(50.00% - 24px);
  width: 566px;
}
.guidelines-buttons .gruppe-497-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-buttons .gutenberg-principle-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5196px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .gutenberg-principle-IIDm0E {
  background-color: transparent;
  bottom: 10.53%;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-buttons .gutenbergprinciple-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5166px;
  width: 640px;
}
.guidelines-buttons .here-lTDZZU {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-buttons .hover-curser-ab-ractive-element-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3802px;
  white-space: nowrap;
  width: 335px;
}
.guidelines-buttons .icons-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 284px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .if-the-primary-again-to-tap-it-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6999px;
  width: 362px;
}
.guidelines-buttons .if-the-primary-econdary-action-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6419px;
  width: 371px;
}
.guidelines-buttons .komponente-25-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 688px;
  position: absolute;
  top: 4311px;
  width: 33px;
}
.guidelines-buttons .komponente-44-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 906px;
  position: absolute;
  top: 4891px;
  width: 142px;
}
.guidelines-buttons .layout-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .linie-465-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-buttons .linie-465-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 4786px;
  width: 44px;
}
.guidelines-buttons .linie-470-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 7574px;
  width: 44px;
}
.guidelines-buttons .links-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7817px;
  width: 174px;
}
.guidelines-buttons .links-are-used-ann-profile-etc-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7852px;
  width: 401px;
}
.guidelines-buttons .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 13px);
  width: 153px;
}
.guidelines-buttons .make-it-look-clickable-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .make-sure-your-ses-for-buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3056px;
  width: 321px;
}
.guidelines-buttons .makeitlookclickable-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 2958px;
  width: 640px;
}
.guidelines-buttons .most-users-star-n-at-the-bottom-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5839px;
  width: 362px;
}
.guidelines-buttons .navigation-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .primary-action-10-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6356px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .primary-action-20-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6936px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .primaryaction1-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6326px;
  width: 640px;
}
.guidelines-buttons .primaryaction2-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6906px;
  width: 640px;
}
.guidelines-buttons .process-in-prog-ting-the-action-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3875px;
  white-space: nowrap;
  width: 350px;
}
.guidelines-buttons .rechteck-560-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2889px;
  width: 1180px;
}
.guidelines-buttons .rechteck-562-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1738px;
  width: 1180px;
}
.guidelines-buttons .rechteck-564-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2318px;
  width: 1180px;
}
.guidelines-buttons .rechteck-566-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-buttons .rechteck-568-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3478px;
  width: 1180px;
}
.guidelines-buttons .rechteck-663-enGkxY {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 327px;
  width: 3px;
}
.guidelines-buttons .rechteck-757-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6266px;
  width: 1180px;
}
.guidelines-buttons .rechteck-759-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5686px;
  width: 1180px;
}
.guidelines-buttons .rechteck-760-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5106px;
  width: 1180px;
}
.guidelines-buttons .rechteck-761-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6846px;
  width: 1180px;
}
.guidelines-buttons .rechteck-824-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4049px;
  width: 1180px;
}
.guidelines-buttons .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 158px;
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 77px;
}
.guidelines-buttons .search-SZqgts {
  background-color: transparent;
  border: 0;
  bottom: calc(45.45% - 12px);
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 171px;
}
.guidelines-buttons .search-SZqgts::placeholder {
  color: #2021215c;
}
.guidelines-buttons .secondary-secon-rms-of-priority-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3765px;
  white-space: nowrap;
  width: 350px;
}
.guidelines-buttons .span0-IRX7gw {

}
.guidelines-buttons .span0-PedYmV {

}
.guidelines-buttons .span0-ThkTKi {

}
.guidelines-buttons .span0-abxTTU {

}
.guidelines-buttons .span0-o5sPx5 {

}
.guidelines-buttons .span0-qysbb0 {

}
.guidelines-buttons .span0-wWBmHe {

}
.guidelines-buttons .span1-IRX7gw {

}
.guidelines-buttons .span1-PedYmV {

}
.guidelines-buttons .span1-ThkTKi {

}
.guidelines-buttons .span1-abxTTU {

}
.guidelines-buttons .span1-o5sPx5 {

}
.guidelines-buttons .span1-qysbb0 {

}
.guidelines-buttons .span1-wWBmHe {

}
.guidelines-buttons .span2-IRX7gw {

}
.guidelines-buttons .span2-o5sPx5 {

}
.guidelines-buttons .the-principle-s-ve-less-attenti-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4815px;
  width: 644px;
}
.guidelines-buttons .the-right-size-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1248px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .the-size-of-you-dy-back-in-2003-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1311px;
  width: 352px;
}
.guidelines-buttons .therightsize-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 1218px;
  width: 640px;
}
.guidelines-buttons .top-vs-bottom-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5776px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .topvsbottom-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5746px;
  width: 640px;
}
.guidelines-buttons .understandable-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 2378px;
  width: 640px;
}
.guidelines-buttons .understandable-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2408px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .usage-of-buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4741px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .usage-of-buttons-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 409px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .we-open-a-web-p-sign-it-clearly-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1891px;
  width: 365px;
}
.guidelines-buttons .when-designing-s-involved-here-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2471px;
  width: 311px;
}
.guidelines-buttons .when-it-comes-t-to-follow-when-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 987px;
  width: 666px;
}
.guidelines-buttons .when-to-use-buttons-or-links-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7529px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .when-to-use-buttons-or-links-enGkxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .whenever-a-user-f-their-actions-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3631px;
  width: 380px;
}
.guidelines-buttons .while-reading-c-of-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5259px;
  width: 346px;
}
.guidelines-buttons .x01-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1214px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x01-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5162px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x02-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1794px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x02-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5742px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x03-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2374px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x03-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6322px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x04-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2954px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x04-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6902px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 3534px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .x06-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4114px;
  white-space: nowrap;
  width: auto;
}
@keyframes animate-enter42-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter43-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter44-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
