/* screen - guidelines-icons */

.animate-enter44 {
  animation: animate-enter44-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons {
  background-color: var(--coconut);
  display: block;
  height: 14418px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons .accessibility-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 119px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .alignment-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6179px;
  width: 640px;
}
.guidelines-icons .alignment-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6209px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .alignment-in-button-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8529px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .alignmentinbutton-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 8499px;
  width: 640px;
}
.guidelines-icons .an-icons-primar-y-to-understand-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5692px;
  width: 337px;
}
.guidelines-icons .animate-enter42 {
  animation: animate-enter42-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons .animate-enter43 {
  animation: animate-enter43-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons .bannericons-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons .best-practice-tips-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 367px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .best-practice-tips-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5318px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .buttons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 531px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .circle-C61RwL {
  background-color: transparent;
  height: 356px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 4155px;
  width: 286px;
}
.guidelines-icons .circle-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4148px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .circle-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4728px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .colors-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 160px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .consistency-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6759px;
  width: 640px;
}
.guidelines-icons .consistency-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6789px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .content-of-this-page-05jha3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .delete-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 11164px;
  width: 640px;
}
.guidelines-icons .delete-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 11194px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 200px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 113px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .diameter-176px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4250px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .ebene-2-SZqgts {
  background-color: transparent;
  background-image: url(../img/ebene-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 25px;
  position: relative;
  width: 25px;
}
.guidelines-icons .email-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 10584px;
  width: 640px;
}
.guidelines-icons .email-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 10614px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 242px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .google-lzQ87U {
  background-color: transparent;
  bottom: 10.53%;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-icons .grid-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1248px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .gruppe-496-GCEBCP {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 201px;
  min-width: 566px;
  padding: 10px 23px;
  position: relative;
  width: auto;
}
.guidelines-icons .gruppe-497-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: flex-end;
  left: 0px;
  min-width: 1920px;
  padding: 0 158px;
  position: absolute;
  top: 0px;
  width: auto;
}
.guidelines-icons .height-128px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3670px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .height-152px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2510px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .height-176px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3090px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .homeicon-C61RwL {
  background-color: transparent;
  border-radius: 10px;
  height: 286px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 4735px;
  width: 286px;
}
.guidelines-icons .horizontal-rectangle-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3568px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .horizontalrectangle-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 3575px;
  width: 379px;
}
.guidelines-icons .how-to-build-icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 326px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .how-to-build-icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .icon-size-vs-text-size-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7949px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .icongrid-C61RwL {
  background-color: transparent;
  height: 413px;
  left: 1213px;
  object-fit: cover;
  position: absolute;
  top: 1192px;
  width: 347px;
}
.guidelines-icons .icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 285px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .icons-are-also-e-speech-bubble-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 13371px;
  width: 350px;
}
.guidelines-icons .icons-are-most-an-decoration-h-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 11860px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .icons-are-often-n-their-meaning-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 12206px;
  width: 356px;
}
.guidelines-icons .icons-can-be-us-meaning-of-them-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 12786px;
  width: 324px;
}
.guidelines-icons .iconsizevstextsize-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7919px;
  width: 640px;
}
.guidelines-icons .if-youre-lookin-are-a-few-links-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 13968px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .ikonate-pUSoa7 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-icons .in-page-navigation-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 35px #00000029;
  display: block;
  height: 584px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-icons .inspiration-and-free-icon-sets-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 490px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .inspiration-and-free-icon-sets-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 13893px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .is-a-letter-sti-e-more-suitable-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 10677px;
  width: 332px;
}
.guidelines-icons .keylines-C61RwL {
  background-color: transparent;
  border-radius: 10px;
  height: 286px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 1835px;
  width: 286px;
}
.guidelines-icons .keylines-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1828px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .komponente-21-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 580px;
  position: absolute;
  top: 14046px;
  width: 109px;
}
.guidelines-icons .komponente-22-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 580px;
  position: absolute;
  top: 14097px;
  width: 54px;
}
.guidelines-icons .komponente-23-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 580px;
  position: absolute;
  top: 14148px;
  width: 107px;
}
.guidelines-icons .komponente-24-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 580px;
  position: absolute;
  top: 14199px;
  width: 115px;
}
.guidelines-icons .komponente-31-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 788px;
  position: absolute;
  top: 1039px;
  width: 53px;
}
.guidelines-icons .layout-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .learn-how-to-cr-rovided-for-you-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 430px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .linie-465-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-icons .linie-466-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 5364px;
  width: 44px;
}
.guidelines-icons .linie-467-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 9744px;
  width: 44px;
}
.guidelines-icons .linie-468-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 11830px;
  width: 44px;
}
.guidelines-icons .linie-469-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 13938px;
  width: 44px;
}
.guidelines-icons .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 26px;
  object-fit: cover;
  position: relative;
  width: 153px;
}
.guidelines-icons .make-sure-each-check-your-work-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6272px;
  width: 324px;
}
.guidelines-icons .make-sure-that-ks-too-restless-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8592px;
  width: 324px;
}
.guidelines-icons .make-sure-that-mount-of-shapes-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7432px;
  width: 333px;
}
.guidelines-icons .make-sure-that-oppy-and-clumsy-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8012px;
  width: 305px;
}
.guidelines-icons .make-sure-that-re-that-all-the-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9172px;
  width: 314px;
}
.guidelines-icons .navigation-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 201px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .navigation-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 12113px;
  width: 640px;
}
.guidelines-icons .navigation-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 12143px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .old-vs-new-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .old-vs-new-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9699px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .phone-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 10004px;
  width: 640px;
}
.guidelines-icons .phone-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 10034px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .rechteck-10-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-icons .rechteck-1009-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4638px;
  width: 1180px;
}
.guidelines-icons .rechteck-1279-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9019px;
  width: 1180px;
}
.guidelines-icons .rechteck-323-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1738px;
  width: 1180px;
}
.guidelines-icons .rechteck-326-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2318px;
  width: 1180px;
}
.guidelines-icons .rechteck-329-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2898px;
  width: 1180px;
}
.guidelines-icons .rechteck-332-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3478px;
  width: 1180px;
}
.guidelines-icons .rechteck-335-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4058px;
  width: 1180px;
}
.guidelines-icons .rechteck-342-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5539px;
  width: 1180px;
}
.guidelines-icons .rechteck-352-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6119px;
  width: 1180px;
}
.guidelines-icons .rechteck-357-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6699px;
  width: 1180px;
}
.guidelines-icons .rechteck-362-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7279px;
  width: 1180px;
}
.guidelines-icons .rechteck-663-05jha3 {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 285px;
  width: 3px;
}
.guidelines-icons .rechteck-772-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 10524px;
  width: 1180px;
}
.guidelines-icons .rechteck-773-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9944px;
  width: 1180px;
}
.guidelines-icons .rechteck-775-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 11104px;
  width: 1180px;
}
.guidelines-icons .rechteck-801-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 12633px;
  width: 1180px;
}
.guidelines-icons .rechteck-802-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 12053px;
  width: 1180px;
}
.guidelines-icons .rechteck-803-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 13213px;
  width: 1180px;
}
.guidelines-icons .rechteck-874-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7859px;
  width: 1180px;
}
.guidelines-icons .rechteck-881-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 30px #00000029;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 8439px;
  width: 1180px;
}
.guidelines-icons .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 77px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .same-section-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9109px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .samesection-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 9079px;
  width: 640px;
}
.guidelines-icons .search-SZqgts {
  align-self: center;
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 15px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  width: 475px;
}
.guidelines-icons .search-SZqgts::placeholder {
  color: #2021215c;
}
.guidelines-icons .shortcuts-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 13273px;
  width: 640px;
}
.guidelines-icons .shortcuts-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 13303px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .simplicity-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5599px;
  width: 640px;
}
.guidelines-icons .simplicity-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5629px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .space-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7339px;
  width: 640px;
}
.guidelines-icons .space-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7369px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .span0-wjtAnG {

}
.guidelines-icons .span1-wjtAnG {

}
.guidelines-icons .span2-wjtAnG {

}
.guidelines-icons .square-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 2415px;
  width: 379px;
}
.guidelines-icons .square-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2408px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-01-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1214px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-02-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1794px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-03-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2374px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-04-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2954px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 3534px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-06-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4114px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .step-06-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4694px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .streamlineicons-RSfdSb {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-icons .strengthen-meaning-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 12723px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .strengthenmeaning-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 12693px;
  width: 640px;
}
.guidelines-icons .the-measurement-this-shape-are-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2471px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .the-measurement-this-shape-are-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4211px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .the-measurement-this-shape-are-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3051px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .the-measurement-this-shape-are-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3631px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .the-size-of-the-n-a-188px-frame-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1312px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .the-so-called-t-also-used-today-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 10097px;
  width: 359px;
}
.guidelines-icons .thenounproject-QZaHRz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-icons .there-are-many-re-contemporary-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9774px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .these-lines-and-ross-your-icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1891px;
  width: 396px;
}
.guidelines-icons .this-is-how-for-ok-in-this-grid-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4792px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .to-achieve-cons-ckness-and-size-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6852px;
  width: 329px;
}
.guidelines-icons .usage-of-icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 449px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .usage-of-icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 11784px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .useanimations-o616So {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-icons .vertical-rectangle-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .verticalrectangle-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 2995px;
  width: 379px;
}
.guidelines-icons .we-already-know-o-a-garbage-can-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 11257px;
  width: 328px;
}
.guidelines-icons .when-creating-i-for-their-icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .when-you-create-tips-for-icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5394px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .width-128px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3121px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .width-152px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2547px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .width-176px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3701px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x01-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5596px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x01-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 10000px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x01-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 12110px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x02-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6176px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x02-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 10580px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x02-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 12690px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x03-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6756px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x03-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 11160px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x03-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 13270px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x04-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7336px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7916px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x06-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8496px;
  white-space: nowrap;
  width: auto;
}
.guidelines-icons .x07-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 9076px;
  white-space: nowrap;
  width: auto;
}
@keyframes animate-enter42-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter43-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter44-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
