/* screen - guidelines-layout */

.guidelines-layout {
  background-color: var(--coconut);
  height: 6729px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.guidelines-layout .a-digital-layou-er-and-the-user-C61RwL {
  background-color: transparent;
  height: auto;
  left: 579px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 714px;
}
.guidelines-layout .accessibility-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 48.71%;
  white-space: nowrap;
  width: 26.76%;
}
.guidelines-layout .all-elements-sh-are-consistent-1T6w53 {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.59% - 26px);
  white-space: nowrap;
  width: 331px;
}
.guidelines-layout .animate-enter21 {
  animation: animate-enter21-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-layout .animate-enter22 {
  animation: animate-enter22-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-layout .backgroundnavigation-tD3QGc {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .bannerlayout-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-layout .breakpoints-C61RwL {
  background-color: transparent;
  height: 572px;
  left: 579px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-layout .breakpoints-for-fferent-devices-C61RwL {
  background-color: transparent;
  height: auto;
  left: 579px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .breakpoints-for-fferent-devices-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 13.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 24.25%;
  white-space: nowrap;
  width: 68.82%;
}
.guidelines-layout .buttons-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 89.46%;
  white-space: nowrap;
  width: 16.76%;
}
.guidelines-layout .colors-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 56.86%;
  white-space: nowrap;
  width: 14.12%;
}
.guidelines-layout .content-of-this-page-tD3QGc {
  background-color: transparent;
  height: 4.17%;
  left: 8.90%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6.36%;
  white-space: nowrap;
  width: 43.24%;
}
.guidelines-layout .design-guide-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .design-process-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .desktop-6x949V {
  background-color: transparent;
  bottom: 37px;
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}
.guidelines-layout .ebene-2-ZrFNw0 {
  background-color: transparent;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-layout .ebene-2-xTxS2n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .equal-distance-1T6w53 {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 59px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .equal-distance-61bWZf {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 199px;
}
.guidelines-layout .equaldistance-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4308px;
  width: 1180px;
}
.guidelines-layout .fonts-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 73.16%;
  white-space: nowrap;
  width: 12.35%;
}
.guidelines-layout .grid-1Dldzd {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .grid-3K4pD5 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 58px;
}
.guidelines-layout .grid-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2224px;
  width: 1180px;
}
.guidelines-layout .grid-layout-eDsgTU {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 59px;
  width: 640px;
}
.guidelines-layout .grid-layout-h0xus7 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.18% - 8px);
  white-space: nowrap;
  width: 147px;
}
.guidelines-layout .grid-usage-01tEiA {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 147px;
}
.guidelines-layout .grid-usage-cUHCd5 {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .gridlayout-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2804px;
  width: 1180px;
}
.guidelines-layout .grids-bring-ord-ds-make-it-easi-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2005px;
  width: 792px;
}
.guidelines-layout .gridusage-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3384px;
  width: 1180px;
}
.guidelines-layout .gruppe-1083-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 5.17%;
  left: 8.82%;
  position: absolute;
  top: 16.10%;
  width: 19.12%;
}
.guidelines-layout .gruppe-1157-C61RwL {
  background-color: transparent;
  display: block;
  height: 503px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-layout .gruppe-467-CzWTH6 {
  background-color: transparent;
  bottom: calc(42.64% - 34px);
  height: 79px;
  left: 60px;
  position: absolute;
  width: 224px;
}
.guidelines-layout .gruppe-468-CzWTH6 {
  background-color: transparent;
  bottom: 62px;
  height: 79px;
  left: 60px;
  position: absolute;
  width: 216px;
}
.guidelines-layout .gruppe-496-IcPKRJ {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.guidelines-layout .gruppe-725-CzWTH6 {
  background-color: transparent;
  height: calc(100.00% - 120px);
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .gruppe-maskieren-31-01tEiA {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 57px;
  top: 60px;
  width: 643px;
}
.guidelines-layout .header-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-layout .icons-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 81.31%;
  white-space: nowrap;
  width: 12.06%;
}
.guidelines-layout .in-responsive-d-for-each-device-C61RwL {
  background-color: transparent;
  height: auto;
  left: 579px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 987px;
  width: 654px;
}
.guidelines-layout .it-is-the-space-and-within-them-Egrgt3 {
  background-color: transparent;
  bottom: 1px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-layout .it-is-the-space-s-in-the-layout-FaEgiA {
  background-color: transparent;
  bottom: 1px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-layout .laptop-6x949V {
  background-color: transparent;
  bottom: calc(23.63% - 6px);
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 64px;
}
.guidelines-layout .law-of-proximity-lfDgga {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 224px;
}
.guidelines-layout .lawofproximity-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6048px;
  width: 1180px;
}
.guidelines-layout .lawofproximity-lfDgga {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 59px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .layout-52t8Vh {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: 579px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .linie-177-6x949V {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-178-6x949V {
  background-color: transparent;
  bottom: 92px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-179-6x949V {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-180-6x949V {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 33.54%;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-181-6x949V {
  background-color: transparent;
  bottom: 49.65%;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-182-6x949V {
  background-color: transparent;
  bottom: 32.84%;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1px);
}
.guidelines-layout .linie-409-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 577px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-layout .linie-410-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 1976px;
  width: 44px;
}
.guidelines-layout .linie-411-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 4110px;
  width: 44px;
}
.guidelines-layout .linie-546-6x949V {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1px);
}
.guidelines-layout .logo-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.guidelines-layout .macro-and-micro-CzWTH6 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 229px;
}
.guidelines-layout .macro-space-FaEgiA {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 94px;
}
.guidelines-layout .macroandmicro-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5468px;
  width: 1180px;
}
.guidelines-layout .make-sure-that-ate-the-content-isvOht {
  background-color: transparent;
  height: 45px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(35.52% - 16px);
  white-space: nowrap;
  width: 281px;
}
.guidelines-layout .make-sure-that-r-in-the-gutter-01tEiA {
  background-color: transparent;
  height: 45px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(35.52% - 16px);
  white-space: nowrap;
  width: 321px;
}
.guidelines-layout .max-width-6x949V {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 131px;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 94px;
}
.guidelines-layout .micro-macro-IYV6ja {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .micro-space-Egrgt3 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 90px;
}
.guidelines-layout .min-width-6x949V {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(49.04% - 44px);
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 89px;
}
.guidelines-layout .mobile-6x949V {
  background-color: transparent;
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(23.63% - 6px);
  white-space: nowrap;
  width: 62px;
}
.guidelines-layout .navigation-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 8.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 65.01%;
  white-space: nowrap;
  width: 22.94%;
}
.guidelines-layout .objects-are-pla-or-application-eDsgTU {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(36.98% - 26px);
  width: 345px;
}
.guidelines-layout .pfad-755-isvOht {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 57px;
  top: 60px;
  width: 643px;
}
.guidelines-layout .pfad-956-1T6w53 {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 57px;
  top: 60px;
  width: 643px;
}
.guidelines-layout .pfad-963-eDsgTU {
  background-color: transparent;
  height: 334px;
  object-fit: cover;
  position: absolute;
  right: 57px;
  top: 60px;
  width: 643px;
}
.guidelines-layout .pfad-965-1Dldzd {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 57px;
  top: 60px;
  width: 643px;
}
.guidelines-layout .rechteck-1-IcPKRJ {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-layout .rechteck-10-1Dldzd {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-1725-C61RwL {
  background-color: transparent;
  height: 190px;
  left: 580px;
  position: absolute;
  top: 3874px;
  width: 539px;
}
.guidelines-layout .rechteck-1726-C61RwL {
  background-color: transparent;
  height: 190px;
  left: 580px;
  position: absolute;
  top: 1741px;
  width: 539px;
}
.guidelines-layout .rechteck-1727-C61RwL {
  background-color: transparent;
  height: 190px;
  left: 579px;
  position: absolute;
  top: 723px;
  width: 539px;
}
.guidelines-layout .rechteck-1728-C61RwL {
  background-color: transparent;
  height: 339px;
  left: 579px;
  position: absolute;
  top: 0px;
  width: 539px;
}
.guidelines-layout .rechteck-48-ZrFNw0 {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 566px;
}
.guidelines-layout .rechteck-590-eDsgTU {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-594-01tEiA {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-596-1T6w53 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-598-isvOht {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-602-CzWTH6 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-604-lfDgga {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-layout .rechteck-663-52t8Vh {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
}
.guidelines-layout .remember-that-t-is-micro-space-CzWTH6 {
  background-color: transparent;
  height: 45px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(35.52% - 16px);
  white-space: nowrap;
  width: 376px;
}
.guidelines-layout .resources-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .same-spacing-3JarS6 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 192px;
}
.guidelines-layout .same-spacing-isvOht {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 59px;
  top: 60px;
  width: 640px;
}
.guidelines-layout .samespacing-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4888px;
  width: 1180px;
}
.guidelines-layout .search-ZrFNw0 {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 12px;
  width: 475px;
}
.guidelines-layout .search-ZrFNw0::placeholder {
  color: #2021215c;
}
.guidelines-layout .step-01-1Dldzd {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 46px;
}
.guidelines-layout .step-02-eDsgTU {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 46px;
}
.guidelines-layout .step-03-01tEiA {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 46px;
}
.guidelines-layout .tablet-landscape-6x949V {
  background-color: transparent;
  bottom: calc(41.21% - 11px);
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 173px;
}
.guidelines-layout .tablet-potrait-6x949V {
  background-color: transparent;
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(41.21% - 11px);
  white-space: nowrap;
  width: 135px;
}
.guidelines-layout .the-law-of-prox-rt-of-the-group-lfDgga {
  background-color: transparent;
  height: 93px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(39.66% - 37px);
  width: 351px;
}
.guidelines-layout .usage-of-grids-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1931px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .usage-of-grids-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 13.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 32.41%;
  white-space: nowrap;
  width: 30.88%;
}
.guidelines-layout .usage-of-whitespace-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4064px;
  white-space: nowrap;
  width: auto;
}
.guidelines-layout .usage-of-whitespace-tD3QGc {
  background-color: transparent;
  cursor: pointer;
  height: 4.17%;
  left: 13.82%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 40.56%;
  white-space: nowrap;
  width: 44.41%;
}
.guidelines-layout .when-you-are-cr-e-touch-devices-1Dldzd {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 345px;
}
.guidelines-layout .white-space-is-pattern-or-even-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4138px;
  width: 675px;
}
.guidelines-layout .x-6x949V {
  background-color: transparent;
  bottom: 37px;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 212px;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}
.guidelines-layout .x01-1T6w53 {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-layout .x02-isvOht {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-layout .x03-CzWTH6 {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-layout .x04-lfDgga {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-layout .x1299-6x949V {
  background-color: transparent;
  bottom: calc(41.21% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 178px;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.guidelines-layout .x1300-6x949V {
  background-color: transparent;
  bottom: calc(23.63% - 6px);
  height: 26px;
  left: calc(49.07% - 23px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.guidelines-layout .x1599-6x949V {
  background-color: transparent;
  bottom: calc(23.63% - 6px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 178px;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.guidelines-layout .x1600-6x949V {
  background-color: transparent;
  bottom: 37px;
  height: 26px;
  left: calc(49.07% - 23px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.guidelines-layout .x360-6x949V {
  background-color: transparent;
  height: 26px;
  left: calc(48.60% - 17px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(23.63% - 6px);
  white-space: nowrap;
  width: 36px;
}
.guidelines-layout .x767-6x949V {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 189px;
  text-align: left;
  top: calc(23.63% - 6px);
  white-space: nowrap;
  width: 36px;
}
.guidelines-layout .x768-6x949V {
  background-color: transparent;
  height: 26px;
  left: calc(48.60% - 17px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(41.21% - 11px);
  white-space: nowrap;
  width: 36px;
}
.guidelines-layout .x979-6x949V {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 189px;
  text-align: left;
  top: calc(41.21% - 11px);
  white-space: nowrap;
  width: 36px;
}
.guidelines-layout .x980-6x949V {
  background-color: transparent;
  bottom: calc(41.21% - 11px);
  height: 26px;
  left: calc(48.60% - 17px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 36px;
}
@keyframes animate-enter21-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter22-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
