/* screen - guidelines-navigation */

.animate-enter38 {
  animation: animate-enter38-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation {
  background-color: var(--coconut);
  display: block;
  height: 10282px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation .accessibility-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .animate-enter36 {
  animation: animate-enter36-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation .animate-enter37 {
  animation: animate-enter37-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation .bannernavigation-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation .breadcrumbs-3t5QrY {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 182px;
}
.guidelines-navigation .breadcrumbs-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4058px;
  width: 1180px;
}
.guidelines-navigation .breadcrumbs-PDLYNx {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .burger-menue-LEEDex {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 191px;
}
.guidelines-navigation .burgermenue-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7862px;
  width: 1180px;
}
.guidelines-navigation .burgermenue-LEEDex {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .buttons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 409px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .cascading-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2318px;
  width: 1180px;
}
.guidelines-navigation .cascading-cecKxj {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 144px;
}
.guidelines-navigation .cascading-navig-ontains-clickab-tqnxPh {
  background-color: transparent;
  bottom: calc(42.70% - 91px);
  height: 213px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 362px;
}
.guidelines-navigation .cascading-tqnxPh {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .colors-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 161px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .content-of-this-page-05jha3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .content-slider-fgxxkT {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 190px;
}
.guidelines-navigation .contentslider-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 8442px;
  width: 1180px;
}
.guidelines-navigation .contentslider-fgxxkT {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .design-guide-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .design-process-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .drop-down-gEr1LB {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 146px;
}
.guidelines-navigation .dropdown-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-navigation .dropdown-gEr1LB {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .ebene-2-ZrFNw0 {
  background-color: transparent;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-navigation .ebene-2-xTxS2n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .fly-out-xKlbQM {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 92px;
}
.guidelines-navigation .flyout-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1738px;
  width: 1180px;
}
.guidelines-navigation .flyout-xKlbQM {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 327px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .footer-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6378px;
  width: 1180px;
}
.guidelines-navigation .footer-CMvW9s {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 89px;
}
.guidelines-navigation .footer-iPe1yZ {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .fullscreen-45Fxe1 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 140px;
}
.guidelines-navigation .fullscreen-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9602px;
  width: 1180px;
}
.guidelines-navigation .fullscreen-CTahl4 {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .gruppe-1156-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 204px;
  width: 95px;
}
.guidelines-navigation .gruppe-496-IcPKRJ {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.guidelines-navigation .gruppe-759-c0Ytex {
  background-color: transparent;
  height: calc(100.00% - 120px);
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .header-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-navigation .here-are-a-few-ugh-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7136px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .here-you-can-fi-ugh-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .icon-tab-bar-kzaoAo {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 162px;
}
.guidelines-navigation .icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .icontabbar-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7282px;
  width: 1180px;
}
.guidelines-navigation .icontabbar-kzaoAo {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .in-page-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3568px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .in-page-navigation-C61RwL {
  background-color: transparent;
  display: block;
  height: 462px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigation .in-page-tab-bar-kmle9q {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 203px;
}
.guidelines-navigation .in-page-tab-bar-uWokSM {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 203px;
}
.guidelines-navigation .inpage-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3478px;
  width: 1180px;
}
.guidelines-navigation .inpage-VMr6Om {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 3538px;
  width: 640px;
}
.guidelines-navigation .inpagetabbar-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5798px;
  width: 1180px;
}
.guidelines-navigation .inpagetabbar-VMr6Om {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9022px;
  width: 1180px;
}
.guidelines-navigation .inpagetabbar-kmle9q {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .inpagetabbarmobile-uWokSM {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .layout-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .linie-456-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 7106px;
  width: 44px;
}
.guidelines-navigation .linie-459-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-navigation .logo-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.guidelines-navigation .menu-items-are-ove-the-content-c0Ytex {
  background-color: transparent;
  height: 93px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(39.53% - 37px);
  width: 348px;
}
.guidelines-navigation .navigation-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .navigation-Fx8V4L {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .navigation-desi-nteractions-des-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 718px;
}
.guidelines-navigation .navigation-elem-mobile-devices-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7061px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .navigation-elem-nts-for-desktop-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 245px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .navigation-elem-nts-for-desktop-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .navigation-elements-for-mobile-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 286px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .pagina-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 579px;
  position: absolute;
  top: 5218px;
  width: 1180px;
}
.guidelines-navigation .pagina-punsYL {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 59px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .pagina-wkQDEG {
  background-color: transparent;
  height: 39px;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 95px;
}
.guidelines-navigation .rechteck-1-IcPKRJ {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-navigation .rechteck-10-CTahl4 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-LEEDex {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-PDLYNx {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-c0Ytex {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-dRzSpc {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-fgxxkT {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-gEr1LB {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-iPe1yZ {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-kmle9q {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-kzaoAo {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-punsYL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-tqnxPh {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-uWokSM {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-10-xKlbQM {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .rechteck-48-ZrFNw0 {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 566px;
}
.guidelines-navigation .rechteck-616-05jha3 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 25px #00000019;
  height: 462px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.guidelines-navigation .rechteck-663-Fx8V4L {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
}
.guidelines-navigation .resources-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .search-ZrFNw0 {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 12px;
  width: 475px;
}
.guidelines-navigation .search-ZrFNw0::placeholder {
  color: #2021215c;
}
.guidelines-navigation .step-by-step-dRzSpc {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 168px;
}
.guidelines-navigation .stepbystep-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4638px;
  width: 1180px;
}
.guidelines-navigation .stepbystep-dRzSpc {
  background-color: transparent;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-navigation .tabs-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2898px;
  width: 1180px;
}
.guidelines-navigation .tabs-c0Ytex {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 66px;
}
.guidelines-navigation .tabs-kOxKx1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-navigation .the-breadcrumb-e-so-that-the-u-PDLYNx {
  background-color: transparent;
  height: 165px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(48.57% - 80px);
  width: 361px;
}
.guidelines-navigation .the-burger-menu-vices-make-sure-LEEDex {
  background-color: transparent;
  bottom: calc(42.70% - 91px);
  height: 213px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 354px;
}
.guidelines-navigation .the-drop-down-n-er-activates-it-gEr1LB {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 353px;
}
.guidelines-navigation .the-footer-are-faq-or-contact-iPe1yZ {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 364px;
}
.guidelines-navigation .the-fullscreen-ssible-can-be-d-CTahl4 {
  background-color: transparent;
  height: 141px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(45.13% - 64px);
  width: 355px;
}
.guidelines-navigation .the-in-page-nav-t-is-directly-o-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3631px;
  width: 361px;
}
.guidelines-navigation .the-pagination-below-the-cont-punsYL {
  background-color: transparent;
  height: 141px;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(45.13% - 64px);
  width: 366px;
}
.guidelines-navigation .the-step-by-ste-this-navigation-dRzSpc {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 354px;
}
.guidelines-navigation .the-tab-bar-is-fferent-content-kmle9q {
  background-color: transparent;
  height: 93px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(39.92% - 37px);
  white-space: nowrap;
  width: 355px;
}
.guidelines-navigation .the-tab-bar-is-fferent-content-uWokSM {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.59% - 26px);
  white-space: nowrap;
  width: 315px;
}
.guidelines-navigation .this-type-of-ta-elements-or-oth-kzaoAo {
  background-color: transparent;
  height: 165px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(48.57% - 80px);
  width: 352px;
}
.guidelines-navigation .with-fly-out-na-nd-space-saving-xKlbQM {
  background-color: transparent;
  height: 93px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(39.92% - 37px);
  white-space: nowrap;
  width: 328px;
}
.guidelines-navigation .with-the-conten-g-or-by-swiping-fgxxkT {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 336px;
}
.guidelines-navigation .x01-gEr1LB {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x01-kzaoAo {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x02-LEEDex {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x02-xKlbQM {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x03-fgxxkT {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x03-tqnxPh {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x04-c0Ytex {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x04-uWokSM {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 3534px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigation .x05-CTahl4 {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x06-PDLYNx {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x07-dRzSpc {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x08-punsYL {
  background-color: transparent;
  height: 17px;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x09-kmle9q {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-navigation .x10-iPe1yZ {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
@keyframes animate-enter36-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter37-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter38-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
