/* screen - guidelines-fonts */

.animate-enter25 {
  animation: animate-enter25-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts {
  background-color: var(--coconut);
  display: block;
  height: 10044px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts .accessibility-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .animate-enter23 {
  animation: animate-enter23-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts .animate-enter24 {
  animation: animate-enter24-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts .arvo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4362px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .avoid-these-typo-errors-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .avoid-these-typo-errors-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5243px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .bannerfonts-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts .bona-nova-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2848px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .buttons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 573px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .choice-of-font-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6158px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .choiceoffont-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6128px;
  width: 640px;
}
.guidelines-fonts .colorable-P4Ijtg {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .colors-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 161px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .content-of-this-page-05jha3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .contrast-checker-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 491px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .contrast-checker-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9648px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .dont-use-bold-f-nu-never-artifi-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7961px;
  width: 328px;
}
.guidelines-fonts .download-here-1x45IF {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-GuGgPo {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-TwbyyN {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-ZejSuv {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-hjxkko {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-kxAYw2 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-tHnF0G {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-wlvtvi {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .download-here-xGyGxu {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: -4px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-fonts .ebene-2-6tzNvg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-fonts .ebene-2-SZqgts {
  background-color: transparent;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-fonts .emphasis-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7868px;
  width: 640px;
}
.guidelines-fonts .emphasis-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7898px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .example-if-the-t-is-15-16-24px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4764px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-family-C61RwL {
  background-color: transparent;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6939px;
  width: 123px;
}
.guidelines-fonts .font-mix-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6738px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-size-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4855px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-size-and-scaling-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 409px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-size-and-scaling-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4585px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-style-italic-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7318px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .font-superfamily-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6939px;
  width: 127px;
}
.guidelines-fonts .font-weight-C61RwL {
  background-color: transparent;
  height: auto;
  left: 875px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4855px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .fontmix-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6708px;
  width: 640px;
}
.guidelines-fonts .fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 245px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .fontstyleitalic-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7288px;
  width: 640px;
}
.guidelines-fonts .garamond-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3128px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .gruppe-496-GCEBCP {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.guidelines-fonts .gruppe-497-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-fonts .headlines-20px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4912px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .here-an-example-the-font-roboto-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6888px;
  white-space: nowrap;
  width: 328px;
}
.guidelines-fonts .icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 532px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .if-possible-do-ext-to-the-left-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8541px;
  width: 341px;
}
.guidelines-fonts .image-00LGpa {
  background-color: transparent;
  height: 19px;
  left: 785px;
  object-fit: cover;
  position: absolute;
  top: 4080px;
  width: 12px;
}
.guidelines-fonts .image-2P4qUJ {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 1910px;
  width: 11px;
}
.guidelines-fonts .image-3kIbHG {
  background-color: transparent;
  height: 19px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 3132px;
  width: 12px;
}
.guidelines-fonts .image-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 1334px;
  width: 11px;
}
.guidelines-fonts .image-HlKRTo {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 2852px;
  width: 12px;
}
.guidelines-fonts .image-J1YQmd {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 2573px;
  width: 12px;
}
.guidelines-fonts .image-QL5zbd {
  background-color: transparent;
  height: 19px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 4366px;
  width: 12px;
}
.guidelines-fonts .image-QxM5SU {
  background-color: transparent;
  height: 19px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 1622px;
  width: 11px;
}
.guidelines-fonts .image-R7WrHk {
  background-color: transparent;
  height: 19px;
  left: 763px;
  object-fit: cover;
  position: absolute;
  top: 3788px;
  width: 12px;
}
.guidelines-fonts .image-VMr6Om {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 1622px;
  width: 11px;
}
.guidelines-fonts .image-VkPPtx {
  background-color: transparent;
  height: 19px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 2852px;
  width: 12px;
}
.guidelines-fonts .image-YWzA7M {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 3132px;
  width: 12px;
}
.guidelines-fonts .image-a5WPlX {
  background-color: transparent;
  height: 19px;
  left: 770px;
  object-fit: cover;
  position: absolute;
  top: 2573px;
  width: 12px;
}
.guidelines-fonts .image-a73nmY {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 3788px;
  width: 12px;
}
.guidelines-fonts .image-mzXdH9 {
  background-color: transparent;
  height: 19px;
  left: 750px;
  object-fit: cover;
  position: absolute;
  top: 1334px;
  width: 11px;
}
.guidelines-fonts .image-qr8e7q {
  background-color: transparent;
  height: 19px;
  left: 731px;
  object-fit: cover;
  position: absolute;
  top: 1910px;
  width: 11px;
}
.guidelines-fonts .image-rxvq3k {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 4080px;
  width: 12px;
}
.guidelines-fonts .image-x5xjB4 {
  background-color: transparent;
  height: 19px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 4366px;
  width: 12px;
}
.guidelines-fonts .in-page-navigation-C61RwL {
  background-color: transparent;
  display: block;
  height: 626px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-fonts .inter-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1906px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .justified-text-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8478px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .justifiedtext-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 8448px;
  width: 640px;
}
.guidelines-fonts .komponente-11-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 771px;
  position: absolute;
  top: 1334px;
  width: 108px;
}
.guidelines-fonts .komponente-12-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 796px;
  position: absolute;
  top: 1622px;
  width: 108px;
}
.guidelines-fonts .komponente-13-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 752px;
  position: absolute;
  top: 1910px;
  width: 108px;
}
.guidelines-fonts .komponente-14-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 791px;
  position: absolute;
  top: 2573px;
  width: 108px;
}
.guidelines-fonts .komponente-15-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 797px;
  position: absolute;
  top: 2852px;
  width: 108px;
}
.guidelines-fonts .komponente-16-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 794px;
  position: absolute;
  top: 3132px;
  width: 108px;
}
.guidelines-fonts .komponente-17-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 784px;
  position: absolute;
  top: 3788px;
  width: 108px;
}
.guidelines-fonts .komponente-18-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 806px;
  position: absolute;
  top: 4080px;
  width: 108px;
}
.guidelines-fonts .komponente-19-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 753px;
  position: absolute;
  top: 4366px;
  width: 108px;
}
.guidelines-fonts .komponente-20-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 580px;
  position: absolute;
  top: 9825px;
  width: 70px;
}
.guidelines-fonts .layout-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .left-aligned-te-lutter-balanced-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9121px;
  width: 352px;
}
.guidelines-fonts .left-alignment-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9058px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .leftalignment-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 9028px;
  width: 640px;
}
.guidelines-fonts .light-C61RwL {
  background-color: transparent;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6970px;
  white-space: nowrap;
  width: 123px;
}
.guidelines-fonts .line-height-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1123px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4855px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .linie-456-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-fonts .linie-460-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 2174px;
  width: 44px;
}
.guidelines-fonts .linie-461-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 3397px;
  width: 44px;
}
.guidelines-fonts .linie-462-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 4630px;
  width: 44px;
}
.guidelines-fonts .linie-463-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 5288px;
  width: 44px;
}
.guidelines-fonts .linie-464-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 9694px;
  width: 44px;
}
.guidelines-fonts .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.guidelines-fonts .medium-C61RwL {
  background-color: transparent;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7040px;
  white-space: nowrap;
  width: 123px;
}
.guidelines-fonts .navigation-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .never-mix-more-ont-superfamily-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6801px;
  width: 324px;
}
.guidelines-fonts .never-write-lon-ing-in-the-text-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7381px;
  width: 384px;
}
.guidelines-fonts .pfad-1064-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: 4219px;
  width: 276px;
}
.guidelines-fonts .pfad-1065-C61RwL {
  background-color: transparent;
  height: 93px;
  left: 585px;
  object-fit: cover;
  position: absolute;
  top: 3927px;
  width: 653px;
}
.guidelines-fonts .pfad-1066-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 583px;
  object-fit: cover;
  position: absolute;
  top: 3644px;
  width: 500px;
}
.guidelines-fonts .pfad-1067-C61RwL {
  background-color: transparent;
  height: 81px;
  left: 577px;
  object-fit: cover;
  position: absolute;
  top: 2991px;
  width: 498px;
}
.guidelines-fonts .pfad-1068-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 577px;
  object-fit: cover;
  position: absolute;
  top: 2712px;
  width: 571px;
}
.guidelines-fonts .pfad-1069-C61RwL {
  background-color: transparent;
  height: 115px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 2422px;
  width: 410px;
}
.guidelines-fonts .pfad-1070-C61RwL {
  background-color: transparent;
  height: 89px;
  left: 583px;
  object-fit: cover;
  position: absolute;
  top: 1761px;
  width: 246px;
}
.guidelines-fonts .pfad-1071-C61RwL {
  background-color: transparent;
  height: 116px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 1473px;
  width: 590px;
}
.guidelines-fonts .pfad-1072-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 1182px;
  width: 369px;
}
.guidelines-fonts .pharagraph-16px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4969px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .rechteck-1-GCEBCP {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-fonts .rechteck-342-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5488px;
  width: 1180px;
}
.guidelines-fonts .rechteck-352-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6068px;
  width: 1180px;
}
.guidelines-fonts .rechteck-357-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6648px;
  width: 1180px;
}
.guidelines-fonts .rechteck-362-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7228px;
  width: 1180px;
}
.guidelines-fonts .rechteck-48-SZqgts {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 566px;
}
.guidelines-fonts .rechteck-616-05jha3 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 25px #00000029;
  height: 626px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.guidelines-fonts .rechteck-663-05jha3 {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 245px;
  width: 3px;
}
.guidelines-fonts .rechteck-874-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7808px;
  width: 1180px;
}
.guidelines-fonts .rechteck-881-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 8388px;
  width: 1180px;
}
.guidelines-fonts .rechteck-950-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 8968px;
  width: 1180px;
}
.guidelines-fonts .regular-C61RwL {
  background-color: transparent;
  height: auto;
  left: 875px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4969px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .regular-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7005px;
  white-space: nowrap;
  width: 123px;
}
.guidelines-fonts .regular-light-C61RwL {
  background-color: transparent;
  height: auto;
  left: 875px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5020px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .regular-or-bold-C61RwL {
  background-color: transparent;
  height: auto;
  left: 875px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4918px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .roboto-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6970px;
  white-space: nowrap;
  width: 123px;
}
.guidelines-fonts .roboto-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1330px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .roboto-mono-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7040px;
  white-space: nowrap;
  width: 139px;
}
.guidelines-fonts .roboto-slab-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7005px;
  white-space: nowrap;
  width: 123px;
}
.guidelines-fonts .roboto-slab-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4076px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .rockwell-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3784px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .sans-serif-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2569px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .sans-serif-font-also-be-used-to-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .sans-serif-fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 286px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .sans-serif-fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .search-SZqgts {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 12px;
  width: 475px;
}
.guidelines-fonts .search-SZqgts::placeholder {
  color: #2021215c;
}
.guidelines-fonts .secondary-text-13-14px-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5020px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .serif-fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 327px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .serif-fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2129px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .serif-fonts-are-appears-more-t-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2204px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .slab-serif-fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .slab-serif-fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3351px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .slab-serifs-are-he-typeface-and-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3425px;
  width: 601px;
}
.guidelines-fonts .span0-d6LKxF {

}
.guidelines-fonts .span1-d6LKxF {

}
.guidelines-fonts .text-alignment-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5578px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .textalignment-C61RwL {
  background-color: transparent;
  border-radius: 12px;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5548px;
  width: 640px;
}
.guidelines-fonts .texts-should-al-decorated-fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6221px;
  width: 336px;
}
.guidelines-fonts .the-line-height-50-of-the-curre-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4659px;
  width: 654px;
}
.guidelines-fonts .typography-is-a-optimize-readab-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 723px;
}
.guidelines-fonts .use-online-cont-e-accessibility-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9724px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .when-it-comes-t-hen-using-fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5317px;
  width: 622px;
}
.guidelines-fonts .when-you-align-n-picking-up-wh-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5641px;
  width: 353px;
}
.guidelines-fonts .work-sans-C61RwL {
  background-color: transparent;
  height: auto;
  left: 690px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1618px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x01-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5544px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x02-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6124px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x03-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6704px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x03-weights-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3128px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x04-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7284px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x04-weights-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2569px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x04-weights-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4362px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7864px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x06-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8444px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x06-weights-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1618px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x06-weights-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2848px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x06-weights-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4076px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x07-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 9024px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x07-weights-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3784px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x18-weights-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1906px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x18-weights-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1330px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x195-21-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1123px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5020px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x24-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1123px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4969px;
  white-space: nowrap;
  width: auto;
}
.guidelines-fonts .x30-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1123px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4918px;
  white-space: nowrap;
  width: auto;
}
@keyframes animate-enter23-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter24-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter25-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
