/* screen - guidelines-navigationelements */

.animate-enter41 {
  animation: animate-enter41-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements {
  background-color: var(--coconut);
  display: block;
  height: 10282px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements .accessibility-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .animate-enter39 {
  animation: animate-enter39-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements .animate-enter40 {
  animation: animate-enter40-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements .bannernavigation-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements .breadcrumbs-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 4118px;
  width: 640px;
}
.guidelines-navigationelements .breadcrumbs-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4148px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .burger-menue-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7952px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .burgermenue-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7922px;
  width: 640px;
}
.guidelines-navigationelements .buttons-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 409px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .cascading-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 2378px;
  width: 640px;
}
.guidelines-navigationelements .cascading-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2408px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .cascading-navig-ontains-clickab-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2471px;
  width: 362px;
}
.guidelines-navigationelements .colors-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 161px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .content-of-this-page-astSH4 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .content-slider-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8532px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .contentslider-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 8502px;
  width: 640px;
}
.guidelines-navigationelements .design-guide-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(29.82% - 29px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 96px;
}
.guidelines-navigationelements .design-process-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(18.43% - 21px);
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 113px;
}
.guidelines-navigationelements .drop-down-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1248px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .dropdown-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 1218px;
  width: 640px;
}
.guidelines-navigationelements .ebene-2-SZqgts {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-navigationelements .fly-out-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1828px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .flyout-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 1798px;
  width: 640px;
}
.guidelines-navigationelements .fonts-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 327px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .footer-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 6438px;
  width: 640px;
}
.guidelines-navigationelements .footer-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6468px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .fullscreen-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 9662px;
  width: 640px;
}
.guidelines-navigationelements .fullscreen-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9692px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .gruppe-1156-astSH4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  left: 30px;
  min-width: 95px;
  position: absolute;
  top: 204px;
  width: auto;
}
.guidelines-navigationelements .gruppe-1168-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 25px #00000019;
  display: block;
  height: 462px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-navigationelements .gruppe-496-GCEBCP {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: calc(37.96% - 215px);
  position: absolute;
  top: calc(50.00% - 24px);
  width: 566px;
}
.guidelines-navigationelements .gruppe-497-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-navigationelements .gruppe-759-C61RwL {
  background-color: transparent;
  background-image: url(../img/tabs@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 360px;
  left: 1060px;
  position: absolute;
  top: 2958px;
  width: 640px;
}
.guidelines-navigationelements .here-are-a-few-ugh-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7136px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .here-you-can-fi-ugh-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .icon-tab-bar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7372px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .icons-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .icontabbar-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 7342px;
  width: 640px;
}
.guidelines-navigationelements .in-page-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3568px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .in-page-tab-bar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5888px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .in-page-tab-bar-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9112px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .inpage-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 3538px;
  width: 640px;
}
.guidelines-navigationelements .inpagetabbar-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5858px;
  width: 640px;
}
.guidelines-navigationelements .inpagetabbarmobile-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 9082px;
  width: 640px;
}
.guidelines-navigationelements .layout-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .linie-456-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 7106px;
  width: 44px;
}
.guidelines-navigationelements .linie-459-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-navigationelements .logo-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 13px);
  width: 153px;
}
.guidelines-navigationelements .menu-items-are-ove-the-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3051px;
  width: 348px;
}
.guidelines-navigationelements .navigation-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .navigation-bQlxLl {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 14px;
  min-height: 21px;
  min-width: 78px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .navigation-desi-nteractions-des-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 718px;
}
.guidelines-navigationelements .navigation-elem-mobile-devices-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7061px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .navigation-elem-nts-for-desktop-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .navigation-elem-nts-for-desktop-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 245px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .navigation-elements-for-mobile-astSH4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 286px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .pagina-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 5278px;
  width: 640px;
}
.guidelines-navigationelements .pagina-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5308px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .rechteck-10-2P4qUJ {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2898px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-3kIbHG {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7862px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6378px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-HlKRTo {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 579px;
  position: absolute;
  top: 5218px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-J1YQmd {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4058px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-QxM5SU {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2318px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-R7WrHk {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9022px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-VMr6Om {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-VkPPtx {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5798px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-YWzA7M {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 7282px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-a5WPlX {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4638px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-a73nmY {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 8442px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-mzXdH9 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1738px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-qr8e7q {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3478px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-10-rxvq3k {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 30px #00000019;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 9602px;
  width: 1180px;
}
.guidelines-navigationelements .rechteck-663-bQlxLl {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  flex-shrink: 1;
  height: 26px;
  position: relative;
  width: 3px;
}
.guidelines-navigationelements .resources-GCEBCP {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 158px;
  text-align: left;
  top: calc(47.83% - 10px);
  white-space: nowrap;
  width: 77px;
}
.guidelines-navigationelements .search-SZqgts {
  background-color: transparent;
  border: 0;
  bottom: calc(45.45% - 12px);
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 171px;
}
.guidelines-navigationelements .search-SZqgts::placeholder {
  color: #2021215c;
}
.guidelines-navigationelements .step-by-step-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4728px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .stepbystep-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 1060px;
  object-fit: cover;
  position: absolute;
  top: 4698px;
  width: 640px;
}
.guidelines-navigationelements .tabs-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2988px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .the-breadcrumb-e-so-that-the-u-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4211px;
  width: 361px;
}
.guidelines-navigationelements .the-burger-menu-vices-make-sure-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8015px;
  width: 354px;
}
.guidelines-navigationelements .the-drop-down-n-er-activates-it-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1311px;
  width: 353px;
}
.guidelines-navigationelements .the-footer-are-faq-or-contact-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6531px;
  width: 364px;
}
.guidelines-navigationelements .the-fullscreen-ssible-can-be-d-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9755px;
  width: 355px;
}
.guidelines-navigationelements .the-in-page-nav-t-is-directly-o-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3631px;
  width: 361px;
}
.guidelines-navigationelements .the-pagination-below-the-cont-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5371px;
  width: 366px;
}
.guidelines-navigationelements .the-step-by-ste-this-navigation-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4791px;
  width: 354px;
}
.guidelines-navigationelements .the-tab-bar-is-fferent-content-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5952px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .the-tab-bar-is-fferent-content-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9176px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .this-type-of-ta-elements-or-oth-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7435px;
  width: 352px;
}
.guidelines-navigationelements .with-fly-out-na-nd-space-saving-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1892px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .with-the-conten-g-or-by-swiping-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8595px;
  width: 336px;
}
.guidelines-navigationelements .x01-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1214px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x01-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7338px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x02-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1794px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x02-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7918px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x03-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2374px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x03-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8498px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x04-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2954px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x04-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 9078px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x05-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 3534px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x05-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 9658px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x06-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4114px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x07-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4694px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x08-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5274px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x09-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 5854px;
  white-space: nowrap;
  width: auto;
}
.guidelines-navigationelements .x10-C61RwL {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 6434px;
  white-space: nowrap;
  width: auto;
}
@keyframes animate-enter39-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter40-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter41-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
