/* screen - guidelines-buttons */

.animate-enter47 {
  animation: animate-enter47-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons {
  background-color: var(--coconut);
  display: block;
  height: 8099px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .a-button-is-a-f-ns-and-machines-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 752px;
}
.guidelines-buttons .accessibility-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .accessibility-o-ily-tested-here-7ntJDE {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(44.63% - 52px);
  width: 380px;
}
.guidelines-buttons .accessible-7ntJDE {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 69px;
  width: 640px;
}
.guidelines-buttons .accessible-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 4049px;
  width: 1180px;
}
.guidelines-buttons .accessible-M0E8xz {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(22.45% - 9px);
  white-space: nowrap;
  width: 149px;
}
.guidelines-buttons .active-interactive-and-enabled-fImKTD {
  background-color: transparent;
  bottom: calc(45.53% - 10px);
  height: 21px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 250px;
}
.guidelines-buttons .animate-enter45 {
  animation: animate-enter45-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .animate-enter46 {
  animation: animate-enter46-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .bannerbuttons-C61RwL {
  background-color: transparent;
  display: block;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .best-practice-tips-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .best-practice-tips-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 913px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .button-states-fImKTD {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 182px;
}
.guidelines-buttons .buttons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 327px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 339px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .buttons-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7703px;
  width: 174px;
}
.guidelines-buttons .buttons-are-use-new-upload-etc-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7738px;
  width: 401px;
}
.guidelines-buttons .buttons-communi-d-links-matters-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7602px;
  width: 580px;
}
.guidelines-buttons .buttonstates-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 3478px;
  width: 1180px;
}
.guidelines-buttons .buttonstates-fImKTD {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .colors-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 161px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .content-of-this-page-05jha3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .design-guide-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .design-process-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .disabled-curren-noninteractive-fImKTD {
  background-color: transparent;
  bottom: calc(21.57% - 5px);
  height: 21px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 340px;
}
.guidelines-buttons .easy-to-find-UgKnGa {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 158px;
}
.guidelines-buttons .easytofind-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1738px;
  width: 1180px;
}
.guidelines-buttons .easytofind-UgKnGa {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .ebene-2-ZrFNw0 {
  background-color: transparent;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.guidelines-buttons .ebene-2-xTxS2n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .fonts-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 243px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .gruppe-496-IcPKRJ {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.guidelines-buttons .gutenberg-principle-IIDm0E {
  background-color: transparent;
  bottom: 10.53%;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-buttons .gutenberg-principle-YzvzO9 {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 268px;
}
.guidelines-buttons .gutenbergprinciple-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5106px;
  width: 1180px;
}
.guidelines-buttons .gutenbergprinciple-YzvzO9 {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .header-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-buttons .here-LtiwqH {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.guidelines-buttons .hover-curser-ab-ractive-element-fImKTD {
  background-color: transparent;
  bottom: calc(29.41% - 6px);
  height: 21px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 335px;
}
.guidelines-buttons .icons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 284px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .if-the-primary-again-to-tap-it-UlxaGT {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 362px;
}
.guidelines-buttons .if-the-primary-econdary-action-qYjIQj {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 371px;
}
.guidelines-buttons .in-page-navigation-C61RwL {
  background-color: transparent;
  display: block;
  height: 503px;
  left: 160px;
  position: fixed;
  top: 190px;
  width: 340px;
opacity: 0;transform: translate(0, 25px);
}
.guidelines-buttons .komponente-25-1-7ntJDE {
  background-color: transparent;
  bottom: calc(43.17% - 8px);
  cursor: pointer;
  height: 19px;
  left: 108px;
  position: absolute;
  width: 31px;
}
.guidelines-buttons .komponente-44-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 906px;
  position: absolute;
  top: 4891px;
  width: 142px;
}
.guidelines-buttons .layout-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .linie-465-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 958px;
  width: 44px;
}
.guidelines-buttons .linie-465-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 4786px;
  width: 44px;
}
.guidelines-buttons .linie-470-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 7574px;
  width: 44px;
}
.guidelines-buttons .links-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7817px;
  width: 174px;
}
.guidelines-buttons .links-are-used-ann-profile-etc-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7852px;
  width: 401px;
}
.guidelines-buttons .logo-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.guidelines-buttons .make-it-look-clickable-2kzcBu {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(22.45% - 9px);
  white-space: nowrap;
  width: 293px;
}
.guidelines-buttons .make-sure-your-ses-for-buttons-2kzcBu {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(46.01% - 54px);
  width: 321px;
}
.guidelines-buttons .makeitlookclickable-2kzcBu {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 69px;
  width: 640px;
}
.guidelines-buttons .makeitlookclickable-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2889px;
  width: 1180px;
}
.guidelines-buttons .most-users-star-n-at-the-bottom-BVs0Xn {
  background-color: transparent;
  height: 117px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(42.15% - 49px);
  width: 362px;
}
.guidelines-buttons .navigation-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .primary-action-10-qYjIQj {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 248px;
}
.guidelines-buttons .primary-action-20-UlxaGT {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 248px;
}
.guidelines-buttons .primaryaction1-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6266px;
  width: 1180px;
}
.guidelines-buttons .primaryaction1-qYjIQj {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .primaryaction2-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 6846px;
  width: 1180px;
}
.guidelines-buttons .primaryaction2-UlxaGT {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .process-in-prog-ting-the-action-fImKTD {
  background-color: transparent;
  bottom: 62px;
  height: 21px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 350px;
}
.guidelines-buttons .rechteck-1-IcPKRJ {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.guidelines-buttons .rechteck-48-ZrFNw0 {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 566px;
}
.guidelines-buttons .rechteck-560-2kzcBu {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-562-UgKnGa {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-564-hxsYP7 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-566-NvU3bv {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-568-fImKTD {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-616-05jha3 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 35px #00000029;
  height: 503px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.guidelines-buttons .rechteck-663-05jha3 {
  background-color: var(--chetwode-blue);
  border-radius: 2px;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 327px;
  width: 3px;
}
.guidelines-buttons .rechteck-757-qYjIQj {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-759-BVs0Xn {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-760-YzvzO9 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-761-UlxaGT {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .rechteck-824-7ntJDE {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.guidelines-buttons .resources-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .rightsize-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 1158px;
  width: 1180px;
}
.guidelines-buttons .search-ZrFNw0 {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 12px;
  width: 475px;
}
.guidelines-buttons .search-ZrFNw0::placeholder {
  color: #2021215c;
}
.guidelines-buttons .secondary-secon-rms-of-priority-fImKTD {
  background-color: transparent;
  bottom: calc(37.47% - 8px);
  height: 21px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 350px;
}
.guidelines-buttons .span0-1wDUyP {

}
.guidelines-buttons .span0-5Nsxcw {

}
.guidelines-buttons .span0-IRX7gw {

}
.guidelines-buttons .span0-OuNF1a {

}
.guidelines-buttons .span0-Vy5no5 {

}
.guidelines-buttons .span0-xj9U8s {

}
.guidelines-buttons .span0-ypSmwX {

}
.guidelines-buttons .span1-1wDUyP {

}
.guidelines-buttons .span1-5Nsxcw {

}
.guidelines-buttons .span1-IRX7gw {

}
.guidelines-buttons .span1-OuNF1a {

}
.guidelines-buttons .span1-Vy5no5 {

}
.guidelines-buttons .span1-xj9U8s {

}
.guidelines-buttons .span1-ypSmwX {

}
.guidelines-buttons .span2-IRX7gw {

}
.guidelines-buttons .span2-xj9U8s {

}
.guidelines-buttons .the-principle-s-ve-less-attenti-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4815px;
  width: 644px;
}
.guidelines-buttons .the-right-size-NvU3bv {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 184px;
}
.guidelines-buttons .the-size-of-you-dy-back-in-2003-NvU3bv {
  background-color: transparent;
  height: 165px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(48.57% - 80px);
  width: 352px;
}
.guidelines-buttons .therightsize-NvU3bv {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .top-vs-bottom-BVs0Xn {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 193px;
}
.guidelines-buttons .topvsbottom-BVs0Xn {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .topvsbutton-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 5686px;
  width: 1180px;
}
.guidelines-buttons .understandable-C61RwL {
  background-color: transparent;
  height: 480px;
  left: 580px;
  position: absolute;
  top: 2318px;
  width: 1180px;
}
.guidelines-buttons .understandable-NgZffb {
  background-color: transparent;
  height: 39px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(20.41% - 8px);
  white-space: nowrap;
  width: 214px;
}
.guidelines-buttons .understandable-hxsYP7 {
  background-color: transparent;
  border-radius: 12px;
  height: calc(100.00% - 120px);
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 60px;
  width: 640px;
}
.guidelines-buttons .usage-of-buttons-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 409px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .usage-of-buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4741px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .we-open-a-web-p-sign-it-clearly-UgKnGa {
  background-color: transparent;
  height: 93px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(39.53% - 37px);
  width: 365px;
}
.guidelines-buttons .when-designing-s-involved-here-hxsYP7 {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.23% - 26px);
  width: 311px;
}
.guidelines-buttons .when-it-comes-t-to-follow-when-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 987px;
  width: 666px;
}
.guidelines-buttons .when-to-use-buttons-or-links-05jha3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .when-to-use-buttons-or-links-C61RwL {
  background-color: transparent;
  height: auto;
  left: 580px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7529px;
  white-space: nowrap;
  width: auto;
}
.guidelines-buttons .whenever-a-user-f-their-actions-fImKTD {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.23% - 26px);
  width: 380px;
}
.guidelines-buttons .while-reading-c-of-the-content-YzvzO9 {
  background-color: transparent;
  height: 69px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(37.23% - 26px);
  width: 346px;
}
.guidelines-buttons .x01-NvU3bv {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x01-YzvzO9 {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x02-BVs0Xn {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x02-UgKnGa {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x03-hxsYP7 {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x03-qYjIQj {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x04-2kzcBu {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 66px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x04-UlxaGT {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x05-fImKTD {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 17px;
}
.guidelines-buttons .x06-7ntJDE {
  background-color: transparent;
  height: 17px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 66px;
  white-space: nowrap;
  width: 17px;
}
@keyframes animate-enter45-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter46-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter47-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
