/* screen - homepage */

.animate-enter17 {
  animation: animate-enter17-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage {
  background-color: var(--coconut);
  display: block;
  height: 3625px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter13 {
  animation: animate-enter13-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter14 {
  animation: animate-enter14-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter15 {
  animation: animate-enter15-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter16 {
  animation: animate-enter16-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .apply-what-you-have-learned-OtUnre {
  background-color: transparent;
  height: 39px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(22.90% - 9px);
  white-space: nowrap;
  width: calc(100.00% - 108px);
}
.homepage .bannerhome-C61RwL {
  background-color: transparent;
  display: block;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .design-guide-Ab0iYm {
  background-color: transparent;
  bottom: 10.53%;
  cursor: pointer;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.homepage .design-guide-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.homepage .design-process-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.homepage .ebene-2-1nQLJJ {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.homepage .ebene-2-Ym1yJN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .ellipse-250-2FPvRF {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  bottom: 0px;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.homepage .ellipse-250-2VA0c5 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 28px);
  width: 100%;
}
.homepage .ellipse-250-xnk0ta {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .get-an-overview-C61RwL {
  background-color: transparent;
  height: auto;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1100px;
  white-space: nowrap;
  width: auto;
}
.homepage .gruppe-1036-C61RwL {
  background-color: transparent;
  height: 1227px;
  left: 932px;
  position: absolute;
  top: 2015px;
  width: 57px;
}
.homepage .gruppe-496-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.homepage .gruppe-616-C61RwL {
  background-color: transparent;
  display: block;
  height: 170px;
  left: 1089px;
  position: absolute;
  top: 3165px;
  width: 492px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .gruppe-617-C61RwL {
  background-color: transparent;
  display: block;
  height: 218px;
  left: 388px;
  position: absolute;
  top: 2580px;
  width: 444px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .gruppe-618-C61RwL {
  background-color: transparent;
  display: block;
  height: 194px;
  left: 1089px;
  position: absolute;
  top: 1995px;
  width: 534px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .here-2sJKf9 {
  background-color: transparent;
  bottom: 10.53%;
  cursor: pointer;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.homepage .improve-your-wo-to-your-designs-OtUnre {
  background-color: transparent;
  bottom: calc(25.60% - 12px);
  height: 45px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 92px);
}
.homepage .improve-your-work-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 360px;
  white-space: nowrap;
  width: auto;
}
.homepage .komponente-3-1-Ievvxw {
  background-color: transparent;
  bottom: calc(30.86% - 6px);
  height: 19px;
  left: calc(26.60% - 9px);
  position: absolute;
  width: 34px;
}
.homepage .komponente-4-1-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 418px;
  position: absolute;
  top: 2749px;
  width: 96px;
}
.homepage .learn-design-principles-VMwTyA {
  background-color: transparent;
  height: 39px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: 314px;
}
.homepage .learn-more-abou-he-design-guide-VMwTyA {
  background-color: transparent;
  bottom: 32px;
  height: 93px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 92px);
}
.homepage .linie-393-2VA0c5 {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: calc(50.00% - 1px);
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 2px;
}
.homepage .linie-399-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 846px;
  object-fit: cover;
  position: absolute;
  top: 1146px;
  width: 44px;
}
.homepage .logo-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.homepage .on-this-website-design-elements-C61RwL {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 446px;
  width: 613px;
}
.homepage .pfad-1465-C61RwL {
  background-color: transparent;
  height: 585px;
  left: 440px;
  overflow: hidden;
  position: absolute;
  top: 1218px;
  width: 1040px;
}
.homepage .polygon-5-Ievvxw {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: calc(11.34% - 9px);
  width: 80px;
}
.homepage .polygon-5-VMwTyA {
  background-color: transparent;
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: -22px;
  top: calc(9.44% - 7px);
  width: 80px;
}
.homepage .polygon-6-Ievvxw {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(20.73% - 6px);
  width: 35px;
}
.homepage .polygon-6-VMwTyA {
  background-color: transparent;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: calc(18.09% - 5px);
  width: 35px;
}
.homepage .polygon-7-OtUnre {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: calc(14.21% - 11px);
  width: 80px;
}
.homepage .polygon-8-OtUnre {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(24.29% - 7px);
  width: 35px;
}
.homepage .rechteck-1-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.homepage .rechteck-1335-Ievvxw {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 34px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 34px);
}
.homepage .rechteck-1335-VMwTyA {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 34px);
}
.homepage .rechteck-1339-OtUnre {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 100%;
  left: 34px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 34px);
}
.homepage .rechteck-48-1nQLJJ {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .resources-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.homepage .scrollto-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 140px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 140px;
}
.homepage .search-1nQLJJ {
  background-color: transparent;
  border: 0;
  bottom: calc(45.45% - 12px);
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: calc(100.00% - 91px);
}
.homepage .search-1nQLJJ::placeholder {
  color: #2021215c;
}
.homepage .span0-1ANVCc {

}
.homepage .span0-n7QWtL {

}
.homepage .span1-1ANVCc {

}
.homepage .span1-n7QWtL {

}
.homepage .span2-1ANVCc {

}
.homepage .span2-n7QWtL {

}
.homepage .to-create-an-ap-comes-to-action-Ievvxw {
  background-color: transparent;
  bottom: calc(25.60% - 18px);
  height: 69px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 88px);
}
.homepage .understand-the-design-process-Ievvxw {
  background-color: transparent;
  height: 39px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(19.35% - 8px);
  white-space: nowrap;
  width: calc(100.00% - 115px);
}
@keyframes animate-enter13-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter14-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter15-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter16-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter17-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
