/* screen - homepage */

.animate-enter4 {
  animation: animate-enter4-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage {
  background-color: var(--coconut);
  display: block;
  height: 3625px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter1 {
  animation: animate-enter1-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter2 {
  animation: animate-enter2-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .animate-enter3 {
  animation: animate-enter3-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.homepage .apply-what-you-have-learned-fDxNlt {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.homepage .applywhatyouhavelearned-C61RwL {
  background-color: transparent;
  display: block;
  height: 170px;
  left: 1089px;
  position: absolute;
  top: 3165px;
  width: 492px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .bannerhome-C61RwL {
  background-color: transparent;
  display: block;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .design-guide-Ab0iYm {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 96px;
}
.homepage .design-guide-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 200px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .design-process-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 113px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .ebene-2-ZrFNw0 {
  background-color: transparent;
  background-image: url(../img/ebene-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 25px;
  position: relative;
  width: 25px;
}
.homepage .ellipse-250-dRzSpc {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 585px;
  width: 57px;
}
.homepage .ellipse-250-kNDj2H {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 1170px;
  width: 57px;
}
.homepage .ellipse-250-xvExM8 {
  background-color: var(--chetwode-blue);
  border-radius: 28.5px;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.homepage .get-an-overview-C61RwL {
  background-color: transparent;
  height: auto;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1100px;
  white-space: nowrap;
  width: auto;
}
.homepage .gruppe-496-IcPKRJ {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 201px;
  min-width: 566px;
  padding: 10px 23px;
  position: relative;
  width: auto;
}
.homepage .header-C61RwL {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: flex-end;
  left: 0px;
  min-width: 1920px;
  padding: 0 158px;
  position: absolute;
  top: 0px;
  width: auto;
}
.homepage .here-5cFxPi {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -4px;
  min-height: 21px;
  min-width: 36px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 36px;
}
.homepage .improve-your-wo-to-your-designs-fDxNlt {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 93px;
  width: 400px;
}
.homepage .komponente-3-1-90OO0D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 133px;
  min-width: 36px;
  position: absolute;
  top: 121px;
  width: auto;
}
.homepage .komponente-4-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 418px;
  min-width: 96px;
  position: absolute;
  top: 2749px;
  width: auto;
}
.homepage .learn-design-principles-eu42hV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-abou-he-design-guide-eu42hV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 93px;
  width: 352px;
}
.homepage .learndesignprinciples-C61RwL {
  background-color: transparent;
  display: block;
  height: 218px;
  left: 388px;
  position: absolute;
  top: 2580px;
  width: 444px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .linie-393-dRzSpc {
  background-color: transparent;
  height: 1172px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 2px;
}
.homepage .linie-399-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 846px;
  object-fit: cover;
  position: absolute;
  top: 1146px;
  width: 44px;
}
.homepage .logo-IcPKRJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  object-fit: cover;
  position: relative;
  width: 153px;
}
.homepage .on-this-website-design-elements-C61RwL {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 446px;
  width: 613px;
}
.homepage .polygon-5-90OO0D {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 80px;
}
.homepage .polygon-5-eu42hV {
  background-color: transparent;
  height: 75px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 80px;
}
.homepage .polygon-6-90OO0D {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 35px;
}
.homepage .polygon-6-eu42hV {
  background-color: transparent;
  height: 30px;
  left: 409px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 35px;
}
.homepage .polygon-7-fDxNlt {
  background-color: transparent;
  height: 75px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 80px;
}
.homepage .polygon-8-fDxNlt {
  background-color: transparent;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 35px;
}
.homepage .rechteck-1335-90OO0D {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 194px;
  left: 34px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.homepage .rechteck-1335-eu42hV {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 410px;
}
.homepage .rechteck-1339-fDxNlt {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 25px #00000029;
  height: 170px;
  left: 34px;
  position: absolute;
  top: 0px;
  width: 458px;
}
.homepage .resources-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: 3.0px;
  margin-left: 98px;
  min-height: 21px;
  min-width: 77px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .scrollto-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 140px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 140px;
}
.homepage .search-ZrFNw0 {
  align-self: center;
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 15px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  width: 475px;
}
.homepage .search-ZrFNw0::placeholder {
  color: #2021215c;
}
.homepage .span0-F6JDN0 {

}
.homepage .span0-akRfon {

}
.homepage .span1-F6JDN0 {

}
.homepage .span1-akRfon {

}
.homepage .span2-F6JDN0 {

}
.homepage .span2-akRfon {

}
.homepage .stepbystep-C61RwL {
  background-color: transparent;
  height: 1227px;
  left: 932px;
  position: absolute;
  top: 2015px;
  width: 57px;
}
.homepage .title-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 360px;
  white-space: nowrap;
  width: auto;
}
.homepage .to-create-an-ap-comes-to-action-90OO0D {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 93px;
  width: 446px;
}
.homepage .understand-the-design-process-90OO0D {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.homepage .understandthedesignprocess-C61RwL {
  background-color: transparent;
  display: block;
  height: 194px;
  left: 1089px;
  position: absolute;
  top: 1995px;
  width: 534px;
opacity: 0;transform: translate(0, 25px);
}
.homepage .video-C61RwL {
  background-color: transparent;
  height: 585px;
  left: 440px;
  overflow: hidden;
  position: absolute;
  top: 1218px;
  width: 1040px;
}
@keyframes animate-enter-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter1-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter2-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter3-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter4-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
