/* screen - resources */

.resources {
  background-color: var(--coconut);
  height: 2608px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.resources .accessibility-C61RwL {
  background-color: transparent;
  height: auto;
  left: 780px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1145px;
  white-space: nowrap;
  width: auto;
}
.resources .animate-enter43 {
  animation: animate-enter43-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.resources .animate-enter44 {
  animation: animate-enter44-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.resources .animate-enter45 {
  animation: animate-enter45-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.resources .bannerresources-C61RwL {
  background-color: transparent;
  display: block;
  height: 900px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.resources .button-design-Cr8U0x {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .buttons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 2117px;
  white-space: nowrap;
  width: auto;
}
.resources .choosing-colors-TIwnWK {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .colorablecom-7x63NI {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .colors-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1340px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1145px;
  white-space: nowrap;
  width: auto;
}
.resources .design-guide-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1280px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.resources .design-process-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1474px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.resources .ebene-2-ZrFNw0 {
  background-color: transparent;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 25px;
}
.resources .ebene-2-xTxS2n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.resources .fonts-C61RwL {
  background-color: transparent;
  height: auto;
  left: 780px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1631px;
  white-space: nowrap;
  width: auto;
}
.resources .google-accessibility-mf5xE2 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .google-android-icons-KUxmiM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .google-dark-theme-WQN4D9 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .google-fonts-T4RH56 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .google-product-icons-CPvK94 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .gruppe-496-IcPKRJ {
  background-color: transparent;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 21px;
  width: 566px;
}
.resources .gutenberg-principle-GytUPF {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .header-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.resources .here-are-the-di-for-this-guide-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 446px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.resources .icons-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1340px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1631px;
  white-space: nowrap;
  width: auto;
}
.resources .informationsvis-erung-avedition-x9xu4U {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .komponente-32-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1724px;
  width: 194px;
}
.resources .komponente-56-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 797px;
  position: absolute;
  top: 1724px;
  width: 120px;
}
.resources .komponente-57-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1781px;
  width: 193px;
}
.resources .komponente-58-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1838px;
  width: 133px;
}
.resources .komponente-59-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 1724px;
  width: 163px;
}
.resources .komponente-60-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 1781px;
  width: 328px;
}
.resources .komponente-61-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1353px;
  width: 100px;
}
.resources .komponente-62-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1296px;
  width: 129px;
}
.resources .komponente-63-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 1357px;
  position: absolute;
  top: 1239px;
  width: 149px;
}
.resources .komponente-64-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 797px;
  position: absolute;
  top: 1238px;
  width: 172px;
}
.resources .komponente-65-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 797px;
  position: absolute;
  top: 1295px;
  width: 182px;
}
.resources .komponente-66-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 797px;
  position: absolute;
  top: 1352px;
  width: 158px;
}
.resources .komponente-67-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 2210px;
  width: 177px;
}
.resources .komponente-68-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 2267px;
  width: 125px;
}
.resources .komponente-70-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 1238px;
  width: 154px;
}
.resources .komponente-71-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 237px;
  position: absolute;
  top: 1295px;
  width: 106px;
}
.resources .layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1145px;
  white-space: nowrap;
  width: auto;
}
.resources .linie-399-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1206px;
  width: 44px;
}
.resources .linie-540-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 1206px;
  width: 44px;
}
.resources .linie-541-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 1338px;
  object-fit: cover;
  position: absolute;
  top: 1206px;
  width: 54px;
}
.resources .linie-542-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 44px;
}
.resources .linie-543-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 44px;
}
.resources .linie-544-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 1338px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 44px;
}
.resources .linie-545-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 2178px;
  width: 44px;
}
.resources .logo-IcPKRJ {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 153px;
}
.resources .mobile-navigation-2WxIhP {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .navigation-C61RwL {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 1631px;
  white-space: nowrap;
  width: auto;
}
.resources .pfad-1403-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 1247px;
  width: 7px;
}
.resources .pfad-1419-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 1303px;
  width: 7px;
}
.resources .pfad-1421-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 1247px;
  width: 7px;
}
.resources .pfad-1422-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 1303px;
  width: 7px;
}
.resources .pfad-1423-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 1360px;
  width: 7px;
}
.resources .pfad-1424-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1248px;
  width: 6px;
}
.resources .pfad-1425-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1304px;
  width: 7px;
}
.resources .pfad-1426-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1361px;
  width: 7px;
}
.resources .pfad-1427-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 1733px;
  width: 7px;
}
.resources .pfad-1428-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 7px;
}
.resources .pfad-1430-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 1733px;
  width: 7px;
}
.resources .pfad-1433-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1733px;
  width: 7px;
}
.resources .pfad-1434-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 7px;
}
.resources .pfad-1435-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 1340px;
  object-fit: cover;
  position: absolute;
  top: 1846px;
  width: 7px;
}
.resources .pfad-1436-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 2218px;
  width: 7px;
}
.resources .pfad-1437-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 2275px;
  width: 7px;
}
.resources .qconvcom-f4lnLd {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .rechteck-1-IcPKRJ {
  background-color: var(--white);
  box-shadow: 0px 0px 15px #00000019;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.resources .rechteck-10-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 160px;
  position: absolute;
  top: 1100px;
  width: 480px;
}
.resources .rechteck-1147-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 720px;
  position: absolute;
  top: 1100px;
  width: 480px;
}
.resources .rechteck-1148-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 337px;
  left: 1280px;
  position: absolute;
  top: 1100px;
  width: 480px;
}
.resources .rechteck-1149-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 160px;
  position: absolute;
  top: 1586px;
  width: 480px;
}
.resources .rechteck-1150-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 720px;
  position: absolute;
  top: 1586px;
  width: 480px;
}
.resources .rechteck-1151-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 1280px;
  position: absolute;
  top: 1586px;
  width: 480px;
}
.resources .rechteck-1152-C61RwL {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000019;
  height: 336px;
  left: 160px;
  position: absolute;
  top: 2072px;
  width: 480px;
}
.resources .rechteck-1727-C61RwL {
  background-color: transparent;
  height: 190px;
  left: 691px;
  position: absolute;
  top: 910px;
  width: 539px;
}
.resources .rechteck-48-ZrFNw0 {
  background-color: var(--white-lilac);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 566px;
}
.resources .resources-C61RwL {
  background-color: transparent;
  display: block;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 360px;
  white-space: nowrap;
  width: auto;
opacity: 0;transform: translate(0, 25px);
}
.resources .resources-IcPKRJ {
  background-color: transparent;
  height: auto;
  left: 1685px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.resources .responsive-grids-QxuKmx {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .scrollto-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 140px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 140px;
}
.resources .search-ZrFNw0 {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 12px;
  width: 475px;
}
.resources .search-ZrFNw0::placeholder {
  color: #2021215c;
}
.resources .use-and-abuse-jP7Rpp {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .web-accessibility-ueQsnP {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.resources .whitespace-ycqzSA {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
@keyframes animate-enter43-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter44-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes animate-enter45-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
